
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
        
        a:hover, a:focus {
            color: #277DB5;
            text-decoration: underline;
        }
        
        .normal {
            color: #302E2C;
            text-decoration: none;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
        }
        h1, h2, h3, li {
            line-height: 10px;
        }
        h1, h2, h3 {
            font-weight: bold;
        }
        h1 {
            font-size: 30px;
            line-height: -10px;
        }
        h2 {
            font-size: 24.75px;
            text-transform: uppercase;
            font-size: 1.7em;
            line-height: 20px;
            padding: 30px 0px 0px;
        }
        .sidebar ul {
            margin: 5px;
            padding: 0;
        }
        .sidebar li {
            line-height: 20px;
            list-style-type: none;
        }
    
        .body-initial {
            background-color: rgb(204, 204, 204); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.body-initial {
            background-color: rgba(255,255,255,1); 
            border-color: #000000; 
        }
        }.background-initial {
            background-color: rgb(255, 255, 255); 
            top: 5px; 
            left: 105px; 
            width: 960px; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 1769px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.background-initial {
            top: 60px; 
            left: 12px; 
            width: 445px; 
            min-height: 2326px; 
        }
        }.silex-id-1443652013913-2 {
            width: 250.45px; 
            top: 0px; 
            left: 0px; 
            background-color: rgb(255, 255, 255); 
            border-top-width: 0px; 
            border-right-width: 1px; 
            border-bottom-width: 0px; 
            border-left-width: 0px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(48, 46, 44); 
            border-right-color: rgb(48, 46, 44); 
            border-bottom-color: rgb(48, 46, 44); 
            border-left-color: rgb(48, 46, 44); 
            min-height: 1738px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1443652013913-2 {
            top: 261px; 
            left: 12px; 
            width: 421px; 
            min-height: 693px; 
            border-color: #ffffff; 
        }
        }.silex-id-1443651861817-1 {
            width: 174px; 
            top: 50px; 
            left: 40px; 
            min-height: 200px; 
        }
        .silex-id-1443653612189-5 {
            width: 174px; 
            top: 261px; 
            left: 40px; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 948px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1443653612189-5 {
            top: 214px; 
            left: 12px; 
            width: 396px; 
            min-height: 474px; 
        }
        }.silex-id-1443652366341-4 {
            width: 698px; 
            top: 0px; 
            left: 251px; 
            background-color: rgb(255, 255, 255); 
            min-height: 1738px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1443652366341-4 {
            top: 736px; 
            left: 11px; 
            width: 423px; 
            min-height: 1526px; 
        }
        }.silex-id-1443652359020-3 {
            width: 646px; 
            top: 32px; 
            left: 40px; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 1637px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1443652359020-3 {
            top: 121px; 
            left: 11px; 
            width: 401px; 
            min-height: 1496px; 
        }
        }.silex-id-1443655774846-6 {
            width: 56px; 
            top: 194px; 
            left: 630px; 
            min-height: 69.8707px; 
        }
        .silex-id-1443655889931-7 {
            width: 66px; 
            top: 332px; 
            left: 620px; 
            min-height: 66px; 
        }
        .silex-id-1442914589168-2 {
            width: 100%; 
            top: 635px; 
            left: 6px; 
            background-color: transparent; 
            min-height: 50px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1442914589168-2 {
            top: 2422px; 
            left: 12px; 
            width: 445px; 
            min-height: 87px; 
        }
        }.silex-id-1442914737143-3 {
            width: 100%; 
            top: 13px; 
            left: 10px; 
            min-height: 28px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1442914737143-3 {
            top: 0px; 
            left: 11px; 
            width: 423px; 
            min-height: 38px; 
            background-color: rgba(51,51,51,0.8980392156862745); 
        }
        }
    