
        @import url('//fonts.googleapis.com/css?family=Lobster');
        @import url('http://fonts.googleapis.com/css?family=Cabin');

        .normal {
            font-family: 'Cabin', Helvetica, Arial, sans-serif;
            font-size: 15px;
        }
        .title, .heading1, .heading2, .heading3 {
            color: #3D362D;
            font-family: 'Lobster', Georgia, Times, serif;
            padding-left: 4px;
        }
        .title {
            font-size: 100px;
            line-height: 100px;
            text-shadow: 0 0 5px #fefffd, 0 0 5px #fefffd, 0 0 5px #fefffd, 0 0 5px #fefffd, 0 0 10px #fefffd, 0 0 10px #fefffd, 0 0 10px #fefffd;
        }
        .paragraph .silex-element-content {
            line-height: 25px;
        }
        .nav-element .normal {
            font-family: 'noticia text', serif;
            font-size: 12px;
            font-weight: bold;
            line-height: 33px;
        }
        .nav-element.page-link-active {
            background-color: #3D362D;
            color: #fefffd;
        }
        .nav-element.page-link-active:hover {
            color: #fefffd;
            text-decoration: none;
        }
    
        .body-initial {
            background-color: rgb(159, 141, 103); 
            background-image: url('../assets/wood.jpg'); 
            background-position-x: 50%; 
            background-position-y: 50%; 
            background-size: cover; 
        }
        .silex-id-1484949224320-1 {
            min-height: 100px; 
            top: 0px; 
            left: 0px; 
            background-color: transparent; 
        }
        .silex-id-1484949224320-0 {
            min-height: 235px; 
            background-color: transparent; 
        }
        .silex-id-1424647173853 {
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            left: 150px; 
            top: 13px; 
            width: 700px; 
            min-height: 110px; 
        }
        .silex-id-1424647165395 {
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-top-color: rgb(0, 0, 0); 
            left: 292px; 
            top: 119px; 
            width: 389px; 
            min-height: 47px; 
        }
        .silex-id-1424710230648 {
            background-color: rgb(254, 255, 253); 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            left: 0px; 
            top: 174px; 
            width: 960px; 
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px; 
            border-bottom-right-radius: 0px; 
            border-bottom-left-radius: 0px; 
            min-height: 30px; 
        }
        .silex-id-1424710433398 {
            background-color: rgb(255, 255, 255); 
            left: 239px; 
            top: 0px; 
            width: 121px; 
            min-height: 30px; 
        }
        .silex-id-1424710332527 {
            left: 8px; 
            top: 0px; 
            width: 106px; 
            min-height: 30px; 
        }
        .silex-id-1426536866650 {
            background-color: transparent; 
            left: 365px; 
            top: 0px; 
            width: 121px; 
            min-height: 30px; 
        }
        .silex-id-1434425184890-0 {
            left: 8px; 
            top: 0px; 
            width: 106px; 
            min-height: 30px; 
        }
        .silex-id-1434634286306-0 {
            background-color: transparent; 
            left: 492px; 
            top: 0px; 
            width: 121px; 
            min-height: 30px; 
        }
        .silex-id-1434634286307-1 {
            left: 8px; 
            top: 0px; 
            width: 106px; 
            min-height: 30px; 
        }
        .silex-id-1434634331833-2 {
            background-color: transparent; 
            left: 619px; 
            top: 0px; 
            width: 121px; 
            min-height: 30px; 
        }
        .silex-id-1434634331834-3 {
            left: 8px; 
            top: 0px; 
            width: 106px; 
            min-height: 30px; 
        }
        .silex-id-1484949486466-5 {
            min-height: 100px; 
            top: 1354px; 
            left: 0px; 
            background-color: transparent; 
        }
        .silex-id-1484949486465-4 {
            min-height: 798px; 
            background-color: transparent; 
        }
        .silex-id-1424920356950 {
            background-color: rgb(254, 255, 253); 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            left: 644px; 
            top: 33px; 
            width: 295px; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            min-height: 477px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1424920356950 {
            width: 450px; 
            min-height: 338px; 
        }
        }.silex-id-1425063529504 {
            background-color: rgb(254, 255, 253); 
            background-image: url('../assets/cafe2.jpg'); 
            background-size: cover; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            left: 323px; 
            top: 33px; 
            width: 295px; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            min-height: 225px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1425063529504 {
            width: 450px; 
            background-image: url('../assets/cafe2.jpg'); 
        }
        }.silex-id-1424921460631 {
            left: 0px; 
            top: 539px; 
            width: 188px; 
            background-color: rgb(254, 255, 253); 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            min-height: 190px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1424921460631 {
            min-height: 100px; 
            width: 450px; 
        }
        }.silex-id-1434426151026-1 {
            width: 740px; 
            top: 539px; 
            left: 198px; 
            background-color: rgb(254, 255, 253); 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            min-height: 190px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1434426151026-1 {
            width: 450px; 
        }
        }.silex-id-1425063611139 {
            background-color: rgb(254, 255, 253); 
            background-image: url('../assets/cafe.jpg'); 
            background-size: cover; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            left: 322px; 
            top: 285px; 
            width: 295px; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            min-height: 225px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1425063611139 {
            width: 450px; 
            background-image: url('../assets/cafe.jpg'); 
        }
        }.silex-id-1425063401661 {
            background-color: rgb(254, 255, 253); 
            background-image: url('../assets/people.jpeg'); 
            background-size: cover; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            left: 0px; 
            top: 33px; 
            width: 295px; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            background-position-x: 50%; 
            background-position-y: 50%; 
            min-height: 477px; 
        }
        .silex-id-1484949640479-7 {
            min-height: 100px; 
            top: 235px; 
            left: 0px; 
            background-color: transparent; 
        }
        .silex-id-1484949640479-6 {
            min-height: 813px; 
            background-color: transparent; 
        }
        .silex-id-1434426485636-2 {
            left: 1px; 
            top: 23px; 
            width: 188px; 
            background-color: rgb(254, 255, 253); 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            min-height: 190px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1434426485636-2 {
            width: 450px; 
            min-height: 170px; 
        }
        }.silex-id-1434426485665-3 {
            width: 740px; 
            top: 23px; 
            left: 199px; 
            background-color: rgb(254, 255, 253); 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            min-height: 190px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1434426485665-3 {
            width: 707px; 
        }
        }.silex-id-1434426787582-9 {
            width: 937px; 
            top: 256px; 
            left: 3px; 
            background-color: rgb(254, 255, 253); 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            background-image: url('../assets/people.jpeg'); 
            background-size: cover; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            background-position-x: 50%; 
            background-position-y: 50%; 
            min-height: 244px; 
        }
        .silex-id-1434426613625-5 {
            left: 751px; 
            top: 541px; 
            width: 188px; 
            background-color: rgb(254, 255, 253); 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            min-height: 190px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1434426613625-5 {
            width: 450px; 
        }
        }.silex-id-1434426613658-6 {
            width: 740px; 
            top: 541px; 
            left: 2px; 
            background-color: rgb(254, 255, 253); 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            min-height: 190px; 
        }
        .silex-id-1484949717487-9 {
            min-height: 100px; 
            top: 1354px; 
            left: 0px; 
        }
        .silex-id-1484949717486-8 {
            min-height: 345px; 
            background-color: transparent; 
        }
        .silex-id-1471343044963-3 {
            width: 959px; 
            top: 35px; 
            left: -10px; 
            background-color: rgb(254, 255, 253); 
            border-top-width: 10px; 
            border-right-width: 10px; 
            border-bottom-width: 10px; 
            border-left-width: 10px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(254, 255, 253); 
            border-right-color: rgb(254, 255, 253); 
            border-bottom-color: rgb(254, 255, 253); 
            border-left-color: rgb(254, 255, 253); 
            min-height: 261px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1471343044963-3 {
            min-height: 270px; 
            top: 28px; 
            left: 1px; 
            width: 423px; 
        }
        }.silex-id-1484949434473-3 {
            min-height: 100px; 
            top: 1354px; 
            left: 0px; 
        }
        .silex-id-1484949434473-2 {
            min-height: 100px; 
            background-color: transparent; 
        }
        .silex-id-1425063986632 {
            left: 50px; 
            top: 44px; 
            width: 841px; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 20px; 
        }
    