@import url('http://fonts.googleapis.com/css?family=Yellowtail');

/*
	Here are the CSS styles of your website.

	Bellow are some examples, like the styles which you can apply to your text in the text editor.

	See this page for help on CSS
	https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started

	In the advanced "Apollo" mode, you will be able to add CSS classes to Silex elements,
	and then apply a CSS style to it here.
*/

/* define a style for Title, Headings and Normal texts */
.title,
.heading1,
.heading2,
.heading3,
.normal {
  color: #333333;
  font-family: verdana, arial;
  font-size: 14px;
	margin: 0;
}

/* title style */
.title {
  color: #666666;
  font-size: 72px;
  font-family: 'Yellowtail', cursive;
  text-decoration: underline;
  line-height: 0.8;
}
.silex-runtime .main-title .title {
  -webkit-mask-image: url('../assets/text-texture.png');
  -moz-mask-image: url('../assets/text-texture.png');
  -o-mask-image: url('../assets/text-texture.png');
  mask-image: url('../assets/text-texture.png');
}
.background {
    background-image: url('../assets/tile2.jpg');
    background-size: cover;
    box-shadow: 0 0 30px 1px #000;
}
body{
    background-image: url('../assets/tile1.jpg');
    background-size: 100% 1032px;
    /* override silex defaults */
    padding: 0;
    min-width: 100%;
}
.nav .normal{
    text-shadow: 0px 2px 1px white;
}



.element-0{
	background-color: rgb(200, 200, 200); top: 5px; left: 5px; width: 750px; height: 1031px; position: absolute;
}
.element-1{
	position: absolute; height: 403px; width: 620px; top: 440px; left: 65px; background-color: transparent;
}
.element-2{
	position: absolute; height: 161px; width: 620px; top: 855px; left: 65px; background-color: transparent; border-width: 1px 0px 0px; border-style: ridge;
}
.element-3{
	position: absolute; height: 40px;
width: 320px;
top: 26px;
left: 68px;
background-color: transparent;
}
.element-4{
	position: absolute; height: 50px; width: 197px; top: 5px; left: 404px; background-color: transparent;
}
.element-5{
	position: absolute; height: 22px; width: 616px; top: 136px; left: 3px; background-color: transparent;
}
.element-6{
	position: absolute; height: 182px; width: 552px; top: 144px; left: 50px; background-color: transparent;
}
.element-7{
	position: absolute; height: 175px; width: 521px; top: 6px; left: 15px; background-color: transparent;
}
.element-8{
	position: absolute; height: 175px; width: 484px; top: 6px; left: 15px; background-color: transparent;
}
.element-9{
	position: absolute; height: 102px; width: 120px; top: -50px; left: 239px;
}
.element-10{
	position: absolute; height: 403px; width: 620px; top: 440px; left: 65px; background-color: transparent;
}
.element-11{
	position: absolute; height: 403px; width: 620px; top: 440px; left: 65px; background-color: rgb(255, 255, 255);
}