
        /* Main text */
        .title,
        .heading1,
        .heading2,
        .heading3,
        .normal {
            color: rgba(0, 0, 0, 0.7);
            font-family: verdana, arial;
            margin: 0;
            font-weight: normal;
            font-size: 25px;
            line-height: 1.5;
        }
        .normal {
          font-size: 13px;
          line-height: 1.4em;
          text-align: justify;
        }
        /* NAVIGATION */
        .nav a {
          color: black;
          padding: 5px 10px;
          line-height: 25px;
          color: black;
          font-size: 15px;
        }
        .nav .normal .page-link-active {
          background-color: #CDBA98;
          transition: background-color .5s linear;
          -moz-transition: background-color .5s linear;    /* FF3.7+ */
          -o-transition: background-color .5s linear;      /* Opera 10.5 */
          -webkit-transition: background-color .5s linear; /* Saf3.2+, Chrome */
        }
        /* FOOTER */
        .footer *{
            color: white;
            font-weight: normal;
            font-size: 25px;
        }
    
        .silex-id-1439156722930-51 {
            background-color: rgb(230, 230, 230); 
            cursor: auto; 
            left: 0px; 
            top: 0px; 
        }
        .silex-id-1439156722829-50 {
            width: 100%; 
            top: 0px; 
            left: 0px; 
            background-color: rgb(255, 233, 185); 
            border-top-width: 0px; 
            border-right-width: 0px; 
            border-bottom-width: 1px; 
            border-left-width: 0px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            opacity: 1; 
            background-image: url('../assets/seamless_paper_texture.png'); 
            min-height: 139px; 
        }
        .silex-id-1439156722728-49 {
            width: 100%; 
            top: 140px; 
            left: 0px; 
            background-color: rgb(205, 186, 152); 
            border-top-width: 1px; 
            border-right-width: 0px; 
            border-bottom-width: 1px; 
            border-left-width: 0px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            min-height: 397px; 
        }
        .silex-id-1439156722627-48 {
            width: 100%; 
            top: 540px; 
            left: 0px; 
            background-color: rgb(250, 250, 250); 
            background-image: url('../assets/halftone.png'); 
            min-height: 299px; 
        }
        .silex-id-1439156722526-47 {
            min-height: 340px; 
            width: 100%; 
            top: 840px; 
            left: 0px; 
            bottom: 0px; 
            background-color: rgb(56, 56, 56); 
            background-image: url('../assets/footer_lodyas.png'); 
        }
        .silex-id-1439156722424-46 {
            background-color: transparent; 
            top: 5px; 
            left: 55px; 
            width: 980px; 
            min-height: 1073px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156722424-46 {
            top: 60px; 
            left: 12px; 
            width: 445px; 
            min-height: 2035px; 
        }
        }.silex-id-1439156719679-19 {
            width: 159.494px; 
            top: 40px; 
            left: 0px; 
            min-height: 60px; 
        }
        .silex-id-1439156722120-43 {
            width: 300px; 
            top: 166px; 
            left: 0px; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 289px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156722120-43 {
            top: 251px; 
            left: 11px; 
            width: 423px; 
            min-height: 199px; 
        }
        }.silex-id-1439156719794-20 {
            width: 200px; 
            top: 450px; 
            left: 30px; 
            background-color: rgb(0, 153, 255); 
            border-top-width: 5px; 
            border-right-width: 5px; 
            border-bottom-width: 5px; 
            border-left-width: 5px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(0, 153, 255); 
            border-right-color: rgb(0, 153, 255); 
            border-bottom-color: rgb(0, 153, 255); 
            border-left-color: rgb(0, 153, 255); 
            min-height: 20px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156719794-20 {
            width: 443px; 
            min-height: 30px; 
        }
        }.silex-id-1439156722221-44 {
            width: 635px; 
            top: 164px; 
            left: 335px; 
            background-color: rgb(190, 172, 140); 
            border-top-width: 5px; 
            border-right-width: 5px; 
            border-bottom-width: 5px; 
            border-left-width: 5px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            background-image: url('../assets/young-city.jpg'); 
            background-position-x: 50%; 
            background-position-y: 50%; 
            background-repeat-x: no-repeat; 
            background-repeat-y: no-repeat; 
            background-size: cover; 
            min-height: 330px; 
        }
        .silex-id-1439156722018-42 {
            width: 333px; 
            top: 550px; 
            left: 0px; 
            background-color: transparent; 
            min-height: 271px; 
        }
        .silex-id-1439156721917-41 {
            width: 300px; 
            top: 5px; 
            left: 0px; 
            background-color: rgb(255, 255, 255); 
            background-image: url('../assets/duck.jpg'); 
            background-size: cover; 
            background-repeat-x: no-repeat; 
            background-repeat-y: no-repeat; 
            background-position-x: 50%; 
            background-position-y: 50%; 
            border-top-width: 4px; 
            border-right-width: 4px; 
            border-bottom-width: 4px; 
            border-left-width: 4px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            min-height: 200px; 
        }
        .silex-id-1439156721816-40 {
            width: 298px; 
            top: 212px; 
            left: 0px; 
            min-height: 26px; 
        }
        .silex-id-1439156721715-39 {
            width: 298px; 
            top: 236px; 
            left: 2px; 
            min-height: 32px; 
        }
        .silex-id-1439156721615-38 {
            width: 341px; 
            top: 550px; 
            left: 332px; 
            background-color: transparent; 
            min-height: 271px; 
        }
        .silex-id-1439156721514-37 {
            width: 300px; 
            top: 5px; 
            left: 0px; 
            background-color: rgb(255, 255, 255); 
            background-image: url('../assets/goat.jpg'); 
            background-size: cover; 
            background-repeat-x: no-repeat; 
            background-repeat-y: no-repeat; 
            background-position-x: 50%; 
            background-position-y: 50%; 
            border-top-width: 4px; 
            border-right-width: 4px; 
            border-bottom-width: 4px; 
            border-left-width: 4px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            min-height: 200px; 
        }
        .silex-id-1439156721413-36 {
            width: 300px; 
            top: 212px; 
            left: 0px; 
            min-height: 26px; 
        }
        .silex-id-1439156721312-35 {
            width: 298px; 
            top: 236px; 
            left: 2px; 
            min-height: 32px; 
        }
        .silex-id-1439156721210-34 {
            width: 341px; 
            top: 550px; 
            left: 671px; 
            background-color: transparent; 
            min-height: 271px; 
        }
        .silex-id-1439156721110-33 {
            width: 300px; 
            top: 5px; 
            left: 0px; 
            background-color: rgb(255, 255, 255); 
            background-image: url('../assets/boat.jpg'); 
            background-size: cover; 
            background-repeat-x: no-repeat; 
            background-repeat-y: no-repeat; 
            background-position-x: 50%; 
            background-position-y: 50%; 
            border-top-width: 4px; 
            border-right-width: 4px; 
            border-bottom-width: 4px; 
            border-left-width: 4px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            min-height: 200px; 
        }
        .silex-id-1439156721007-32 {
            width: 300px; 
            top: 212px; 
            left: 0px; 
            min-height: 26px; 
        }
        .silex-id-1439156720906-31 {
            width: 298px; 
            top: 236px; 
            left: 2px; 
            min-height: 32px; 
        }
        .silex-id-1471339869605-1 {
            min-height: 570px; 
            width: 889px; 
            top: 158px; 
            left: 46px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1471339869605-1 {
            top: 99px; 
            left: 11px; 
            width: 423px; 
            min-height: 1506px; 
        }
        }.silex-id-1439156722322-45 {
            width: 528px; 
            top: 64px; 
            left: 451px; 
            min-height: 44px; 
        }
        .silex-id-1439156720805-30 {
            width: 980px; 
            top: 858px; 
            left: 0px; 
            background-color: transparent; 
            min-height: 188px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156720805-30 {
            top: 1587px; 
            left: 11px; 
            width: 423px; 
            min-height: 341px; 
            background-color: rgba(51,51,51,1); 
            border-radius: 0 0 17px 17px ; 
        }
        }.silex-id-1439156720704-29 {
            width: 265px; 
            top: 24px; 
            left: 5px; 
            min-height: 79px; 
        }
        .silex-id-1439156720502-27 {
            width: 920px; 
            top: 117px; 
            left: 4px; 
            background-color: transparent; 
            min-height: 45px; 
        }
        .silex-id-1439156720299-25 {
            width: 70px; 
            top: 28px; 
            left: 497px; 
            min-height: 70px; 
        }
        .silex-id-1439156720197-24 {
            width: 70px; 
            top: 28px; 
            left: 598px; 
            min-height: 70px; 
        }
        .silex-id-1439156720096-23 {
            width: 70px; 
            top: 28px; 
            left: 698px; 
            min-height: 70px; 
        }
        .silex-id-1439156719995-22 {
            width: 70px; 
            top: 28px; 
            left: 800px; 
            min-height: 70px; 
        }
        .silex-id-1439156719895-21 {
            width: 70px; 
            top: 28px; 
            left: 902px; 
            min-height: 70px; 
        }
    