
        /* Main text */
        .title,
        .heading1,
        .heading2,
        .heading3,
        .normal {
            color: rgba(0, 0, 0, 0.7);
            font-family: verdana, arial;
            margin: 0;
            font-weight: normal;
            font-size: 25px;
            line-height: 1.5;
        }
        .normal {
          font-size: 13px;
          line-height: 1.4em;
          text-align: justify;
        }
        /* NAVIGATION */
        .nav a {
          color: black;
          padding: 5px 10px;
          line-height: 25px;
          color: black;
          font-size: 15px;
        }
        .nav .normal .page-link-active {
          background-color: #CDBA98;
          transition: background-color .5s linear;
          -moz-transition: background-color .5s linear;    /* FF3.7+ */
          -o-transition: background-color .5s linear;      /* Opera 10.5 */
          -webkit-transition: background-color .5s linear; /* Saf3.2+, Chrome */
        }
        /* FOOTER */
        .footer *{
            color: white;
            font-weight: normal;
            font-size: 25px;
        }
    
        .silex-id-1439156722930-51 {
            background-color: rgb(230, 230, 230); 
            cursor: auto; 
            left: 0px; 
            top: 0px; 
        }
        .silex-id-1483139730465-7 {
            top: 100px; 
            left: NaNpx; 
            background-color: rgba(255,233,185,1); 
            background-image: url('../assets/seamless_paper_texture.png'); 
            border-width: 0 0 1px 0 ; 
            border-style: groove; 
        }
        .silex-id-1483139730465-6 {
            min-height: 139px; 
            background-color: transparent; 
        }
        .silex-id-1439156719679-19 {
            width: 159.494px; 
            top: 34px; 
            left: 0px; 
            min-height: 60px; 
        }
        .silex-id-1439156722322-45 {
            width: 528px; 
            top: 58px; 
            left: 451px; 
            min-height: 44px; 
        }
        .silex-id-1483139563582-5 {
            top: 140px; 
            left: 0px; 
            min-width: 980px; 
            background-color: rgba(205,186,152,1); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483139563582-5 {
            top: 200px; 
            left: 0px; 
        }
        }.silex-id-1483139563581-4 {
            min-height: 503px; 
            background-color: transparent; 
            top: 0px; 
            left: 285px; 
            width: 980px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483139563581-4 {
            min-height: 657px; 
        }
        }.silex-id-1439156722221-44 {
            width: 635px; 
            top: 84px; 
            left: 335px; 
            background-color: rgba(190,172,140,1); 
            border-top-width: 5px; 
            border-right-width: 5px; 
            border-bottom-width: 5px; 
            border-left-width: 5px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            background-image: url('../assets/young-city.jpg'); 
            background-position-x: 50%; 
            background-position-y: 50%; 
            background-repeat-x: no-repeat; 
            background-repeat-y: no-repeat; 
            background-size: cover; 
            min-height: 330px; 
        }
        .silex-id-1439156722120-43 {
            width: 300px; 
            top: 86px; 
            left: 0px; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 289px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156722120-43 {
            top: 251px; 
            left: 11px; 
            width: 423px; 
            min-height: 199px; 
        }
        }.silex-id-1439156719794-20 {
            width: 200px; 
            top: 370px; 
            left: 30px; 
            background-color: rgb(0, 153, 255); 
            border-top-width: 5px; 
            border-right-width: 5px; 
            border-bottom-width: 5px; 
            border-left-width: 5px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(0, 153, 255); 
            border-right-color: rgb(0, 153, 255); 
            border-bottom-color: rgb(0, 153, 255); 
            border-left-color: rgb(0, 153, 255); 
            min-height: 20px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156719794-20 {
            width: 443px; 
            min-height: 30px; 
        }
        }.silex-id-1483139324559-3 {
            top: 537px; 
            left: 0px; 
            background-color: rgba(255,255,255,1); 
            min-width: 980px; 
            background-image: url('../assets/halftone.png'); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483139324559-3 {
            top: 832px; 
            left: 0px; 
        }
        }.silex-id-1483139324558-2 {
            min-height: 537px; 
            background-color: transparent; 
            top: 0px; 
            left: 285px; 
            width: 980px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483139324558-2 {
            min-height: 945px; 
        }
        }.silex-id-1439156722018-42 {
            width: 333px; 
            top: 140px; 
            left: 0px; 
            background-color: transparent; 
            min-height: 309px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156722018-42 {
            top: 22px; 
            left: 11px; 
            width: 423px; 
            min-height: 271px; 
        }
        }.silex-id-1439156721917-41 {
            width: 300px; 
            top: 5px; 
            left: 0px; 
            background-color: rgb(255, 255, 255); 
            background-image: url('../assets/goat.jpg'); 
            background-size: cover; 
            background-repeat-x: no-repeat; 
            background-repeat-y: no-repeat; 
            background-position-x: 50%; 
            background-position-y: 50%; 
            border-top-width: 4px; 
            border-right-width: 4px; 
            border-bottom-width: 4px; 
            border-left-width: 4px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            min-height: 200px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156721917-41 {
            top: 1px; 
            left: 7px; 
            width: 401px; 
            min-height: 200px; 
        }
        }.silex-id-1439156721816-40 {
            width: 298px; 
            top: 212px; 
            left: 0px; 
            min-height: 26px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156721816-40 {
            top: 210px; 
            left: 11px; 
            width: 401px; 
            min-height: 26px; 
        }
        }.silex-id-1439156721615-38 {
            width: 341px; 
            top: 140px; 
            left: 332px; 
            background-color: transparent; 
            min-height: 309px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156721615-38 {
            top: 337px; 
            left: 11px; 
            width: 423px; 
            min-height: 271px; 
        }
        }.silex-id-1439156721514-37 {
            width: 300px; 
            top: 5px; 
            left: 0px; 
            background-color: rgb(255, 255, 255); 
            background-image: url('../assets/boat.jpg'); 
            background-size: cover; 
            background-repeat-x: no-repeat; 
            background-repeat-y: no-repeat; 
            background-position-x: 50%; 
            background-position-y: 50%; 
            border-top-width: 4px; 
            border-right-width: 4px; 
            border-bottom-width: 4px; 
            border-left-width: 4px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            min-height: 200px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156721514-37 {
            top: 1px; 
            left: 7px; 
            width: 401px; 
            min-height: 200px; 
        }
        }.silex-id-1439156721413-36 {
            width: 300px; 
            top: 212px; 
            left: 0px; 
            min-height: 26px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156721413-36 {
            top: 210px; 
            left: 11px; 
            width: 401px; 
            min-height: 26px; 
        }
        }.silex-id-1439156721210-34 {
            width: 341px; 
            top: 140px; 
            left: 671px; 
            background-color: transparent; 
            min-height: 309px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156721210-34 {
            top: 652px; 
            left: 11px; 
            width: 423px; 
            min-height: 271px; 
        }
        }.silex-id-1439156721110-33 {
            width: 300px; 
            top: 5px; 
            left: 0px; 
            background-color: rgb(255, 255, 255); 
            background-image: url('../assets/duck.jpg'); 
            background-size: cover; 
            background-repeat-x: no-repeat; 
            background-repeat-y: no-repeat; 
            background-position-x: 50%; 
            background-position-y: 50%; 
            border-top-width: 4px; 
            border-right-width: 4px; 
            border-bottom-width: 4px; 
            border-left-width: 4px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            min-height: 200px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156721110-33 {
            top: 1px; 
            left: 7px; 
            width: 401px; 
            min-height: 200px; 
        }
        }.silex-id-1439156721007-32 {
            width: 300px; 
            top: 212px; 
            left: 0px; 
            min-height: 26px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156721007-32 {
            top: 210px; 
            left: 11px; 
            width: 401px; 
            min-height: 26px; 
        }
        }.silex-id-1439156721715-39 {
            width: 298px; 
            top: 247px; 
            left: -669px; 
            min-height: 32px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156721715-39 {
            top: 238px; 
            left: 11px; 
            width: 401px; 
            min-height: 32px; 
        }
        }.silex-id-1439156721312-35 {
            width: 298px; 
            top: 247px; 
            left: -337px; 
            min-height: 32px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156721312-35 {
            top: 238px; 
            left: 11px; 
            width: 401px; 
            min-height: 32px; 
        }
        }.silex-id-1439156720906-31 {
            width: 298px; 
            top: 247px; 
            left: 2px; 
            min-height: 32px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439156720906-31 {
            top: 238px; 
            left: 11px; 
            width: 401px; 
            min-height: 32px; 
        }
        }.silex-id-1483140114350-8 {
            top: 140px; 
            left: 0px; 
            background-color: rgba(255,255,255,1); 
            min-width: 980px; 
            background-image: url('../assets/halftone.png'); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483140114350-8 {
            top: 200px; 
            left: 0px; 
        }
        }.silex-id-1483140114351-9 {
            min-height: 887px; 
            background-color: transparent; 
            top: 0px; 
            left: 285px; 
            width: 980px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483140114351-9 {
            min-height: 541px; 
        }
        }.silex-id-1483140123370-22 {
            min-height: 152px; 
            width: 763px; 
            top: 51px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483140123370-22 {
            top: 11px; 
            left: 11px; 
            width: 423px; 
            min-height: 520px; 
        }
        }.silex-id-1483139189898-1 {
            top: 1105px; 
            left: 0px; 
            background-color: rgba(56,56,56,1); 
            min-width: 980px; 
            background-image: url('../assets/footer_lodyas.png'); 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483139189898-1 {
            top: 1131px; 
            left: 0px; 
        }
        }.silex-id-1483139189897-0 {
            min-height: 201px; 
            background-color: transparent; 
            top: 0px; 
            left: 285px; 
            width: 980px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483139189897-0 {
            min-height: 268px; 
        }
        }.silex-id-1439156720299-25 {
            width: 70px; 
            top: 32px; 
            left: 487px; 
            min-height: 70px; 
        }
        .silex-id-1439156720197-24 {
            width: 70px; 
            top: 32px; 
            left: 588px; 
            min-height: 70px; 
        }
        .silex-id-1439156720096-23 {
            width: 70px; 
            top: 32px; 
            left: 688px; 
            min-height: 70px; 
        }
        .silex-id-1439156719995-22 {
            width: 70px; 
            top: 32px; 
            left: 790px; 
            min-height: 70px; 
        }
        .silex-id-1439156719895-21 {
            width: 70px; 
            top: 32px; 
            left: 892px; 
            min-height: 70px; 
        }
        .silex-id-1439156720704-29 {
            width: 265px; 
            top: 28px; 
            left: 0px; 
            min-height: 79px; 
        }
        .silex-id-1439156720502-27 {
            width: 589px; 
            top: 152px; 
            left: 174px; 
            background-color: transparent; 
            min-height: 34px; 
        }
    