
        /* define a style for Title, Headings and Normal texts */
        .title,
        .heading1,
        .heading2,
        .heading3,
        .normal {
          color: black;
          font-family: verdana, arial;
          margin: 0;
          font-weight: normal;
        }
        /* title style */
        .title {
          font-size: 60px;
          color: rgb(73, 187, 204);
        }
        .heading1 {
          font-size: 24px;
        }
        .full-width {
            width: 100% !important;
        }
        .grey-text .normal{
            color: grey;
        }
        .small-text .normal{
            color: grey;
            font-size: 10px;
        }
        .product-details .heading1 {
          color: rgb(73, 187, 204);
        }
        .product-details .heading3 {
          color: white;
          background-color: rgb(73, 187, 204);
          float: right;
          padding: 2px 25px;
        }
        .link-menu .normal{
            padding-top: 10px;
        }
        /* animated colors widget
            https://github.com/silexlabs/Silex/issues/138
        */
        .link-menu .page-link-active {
            background-color: rgb(73, 187, 204) !important;
            /* Firefox */
            -moz-transition: background-color 0.5s ease-in;
            /* WebKit */
            -webkit-transition: background-color 0.5s ease-in;
            /* Opera */
            -o-transition: background-color 0.5s ease-in;
            /* Standard */
            transition: background-color 0.5s ease-in;
        }
        .link-menu .page-link-active .normal {
            color: #FFFFFF !important;
            /* Firefox */
            -moz-transition: color 0.5s ease-in;
            /* WebKit */
            -webkit-transition: color 0.5s ease-in;
            /* Opera */
            -o-transition: color 0.5s ease-in;
            /* Standard */
            transition: color 0.5s ease-in;
        }
    
        .silex-id-1436036524732-32 {
            cursor: auto; 
            background-image: url('../assets/bg-tile3.png'); 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1436036524632-31 {
            top: 109px; 
            left: -28px; 
            width: 980px; 
            height: 2500px; 
            position: absolute; 
            background-color: transparent; 
        }
        .silex-id-1436036524531-30 {
            height: 141px; 
            width: 408px; 
            top: 118px; 
            position: absolute; 
            left: 90px; 
            background-color: transparent; 
        }
        .silex-id-1436036524431-29 {
            height: 117px; 
            width: 117px; 
            top: 3px; 
            left: 2px; 
            position: absolute; 
        }
        .silex-id-1436036524330-28 {
            height: 100px; 
            width: 283px; 
            top: 21px; 
            left: 120px; 
            position: absolute; 
        }
        .silex-id-1436036524230-27 {
            height: 231px; 
            width: 822px; 
            top: 375px; 
            left: 100px; 
            position: absolute; 
        }
        .silex-id-1436036524129-26 {
            height: 528px; 
            width: 100px; 
            top: 700px; 
            position: absolute; 
            left: 1px; 
            background-color: transparent; 
        }
        .silex-id-1436036524028-25 {
            height: 330px; 
            width: 398px; 
            top: 127px; 
            left: 40px; 
            position: absolute; 
        }
        .silex-id-1436036523928-24 {
            height: 26px; 
            width: 100px; 
            top: 16px; 
            position: absolute; 
            left: 0px; 
        }
        .silex-id-1436036523827-23 {
            height: 58px; 
            width: 242px; 
            top: 166px; 
            left: 120px; 
            position: absolute; 
        }
        .silex-id-1436036523727-22 {
            height: 86px; 
            width: 362px; 
            top: 235px; 
            left: 61px; 
            position: absolute; 
        }
        .silex-id-1436036523626-21 {
            height: 325px; 
            width: 415px; 
            top: 146px; 
            left: 512px; 
            position: absolute; 
        }
        .silex-id-1436036523526-20 {
            height: 528px; 
            width: 100px; 
            top: 1278px; 
            position: absolute; 
            left: 0px; 
            background-color: transparent; 
        }
        .silex-id-1436036523425-19 {
            height: 330px; 
            width: 398px; 
            top: 127px; 
            left: 40px; 
            position: absolute; 
        }
        .silex-id-1436036523325-18 {
            height: 26px; 
            width: 100px; 
            top: 16px; 
            position: absolute; 
            left: 0px; 
        }
        .silex-id-1436036523224-17 {
            height: 58px; 
            width: 242px; 
            top: 166px; 
            left: 120px; 
            position: absolute; 
        }
        .silex-id-1436036523124-16 {
            height: 86px; 
            width: 362px; 
            top: 235px; 
            left: 61px; 
            position: absolute; 
        }
        .silex-id-1436036523024-15 {
            height: 325px; 
            width: 415px; 
            top: 146px; 
            left: 512px; 
            position: absolute; 
        }
        .silex-id-1436036522923-14 {
            height: 528px; 
            width: 100px; 
            top: 1864px; 
            position: absolute; 
            background-color: transparent; 
        }
        .silex-id-1436036522823-13 {
            height: 330px; 
            width: 398px; 
            top: 130px; 
            left: 43px; 
            position: absolute; 
        }
        .silex-id-1436036522722-12 {
            height: 26px; 
            width: 100px; 
            top: 16px; 
            position: absolute; 
            left: 0px; 
        }
        .silex-id-1436036522622-11 {
            height: 58px; 
            width: 242px; 
            top: 166px; 
            left: 120px; 
            position: absolute; 
        }
        .silex-id-1436036522521-10 {
            height: 86px; 
            width: 362px; 
            top: 240px; 
            left: 61px; 
            position: absolute; 
        }
        .silex-id-1436036522421-9 {
            height: 325px; 
            width: 415px; 
            top: 146px; 
            left: 512px; 
            position: absolute; 
        }
        .silex-id-1436036522320-8 {
            height: 100px; 
            width: 100px; 
            top: 2405px; 
            position: absolute; 
        }
        .silex-id-1436036522220-7 {
            height: 40px; 
            width: 238px; 
            top: 46px; 
            position: absolute; 
        }
        .silex-id-1436036522119-6 {
            height: 100px; 
            width: 383px; 
            top: 120px; 
            left: 536px; 
            position: absolute; 
            background-color: transparent; 
        }
        .silex-id-1436036522018-5 {
            height: 33px; 
            width: 90px; 
            top: 20px; 
            left: 142px; 
            position: absolute; 
        }
        .silex-id-1436036521917-4 {
            height: 33px; 
            width: 90px; 
            top: 20px; 
            left: 238px; 
            position: absolute; 
        }
        .silex-id-1436036521816-3 {
            height: 528px; 
            width: 100px; 
            top: 300px; 
            position: absolute; 
            left: 1px; 
            background-color: transparent; 
        }
        .silex-id-1436036521716-2 {
            height: 325px; 
            width: 389px; 
            top: 13px; 
            left: 538px; 
            position: absolute; 
        }
        .silex-id-1436036521615-1 {
            height: 396px; 
            width: 400px; 
            top: 5px; 
            left: 110px; 
            position: absolute; 
            background-color: transparent; 
        }
        .silex-id-1436036521514-0 {
            height: 10px; 
            width: 100px; 
            top: 0px; 
            position: absolute; 
            background-color: rgb(180, 229, 232); 
        }
    