
        @import url('//fonts.googleapis.com/css?family=Abel');
        body, font {
            font-family:'Abel',sans-serif;
        }
        .nav-buttons:hover, .nav-buttons.page-link-active{
            background-color: rgba(0, 0, 0, 0.5);
        }
        div.footer-bg {
            bottom: 0;
            height: auto;
            min-height: auto;
        }
    
        .silex-id-1439547078652-33 {
            cursor: auto; 
            background-image: url('../assets/background-texture.jpg%5C'); 
            background-color: transparent; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
        }
        .silex-id-1439547078551-32 {
            top: 5px; 
            left: 5px; 
            background-color: rgb(255, 255, 255); 
            min-height: 10px; 
        }
        .silex-id-1439547078449-31 {
            background-color: transparent; 
            background-image: url('../assets/header-texture.jpg%5C'); 
            top: 0px; 
            left: 0px; 
            right: 0px; 
            min-height: 115px; 
        }
        .silex-id-1439547078348-30 {
            background-color: transparent; 
            background-image: url('../assets/header-texture.jpg%5C'); 
            top: 773px; 
            left: 0px; 
            right: 0px; 
            min-height: 100px; 
        }
        .silex-id-1439547078245-29 {
            top: 0px; 
            left: 0px; 
            bottom: 0px; 
            right: 0px; 
            width: auto; 
            background-color: rgba(0, 0, 0, 0.635); 
            min-height: auto; 
        }
        .silex-id-1439547078142-28 {
            top: 0px; 
            left: 0px; 
            right: 0px; 
            background-color: rgba(0, 0, 0, 0.63); 
            min-height: 114px; 
        }
        .silex-id-1439547078040-27 {
            top: 5px; 
            left: 502px; 
            width: 832px; 
            background-color: transparent; 
            min-height: 854px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439547078040-27 {
            top: 60px; 
            left: 12px; 
            width: 443px; 
            min-height: 1112px; 
            background-color: transparent; 
            border-radius: 6px 6px 6px 6px ; 
        }
        }.silex-id-1439547075398-1 {
            top: 15px; 
            left: 26px; 
            width: 57px; 
            min-height: 71px; 
        }
        .silex-id-1439547075296-0 {
            background-color: transparent; 
            top: 20px; 
            left: 97px; 
            width: 123px; 
            min-height: 61px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439547075296-0 {
            top: 9px; 
            left: 105px; 
            width: 322px; 
            min-height: 62px; 
        }
        }.silex-id-1439547077940-26 {
            background-color: rgba(2, 24, 57, 0.804); 
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            top: 134px; 
            left: 18px; 
            width: 800px; 
            min-height: 398px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439547077940-26 {
            border-radius: 0px 0px 0px 0px ; 
            top: 16px; 
            left: 11px; 
            width: 421px; 
            min-height: 511px; 
        }
        }.silex-id-1439547077839-25 {
            background-color: transparent; 
            top: 119px; 
            left: 296.5px; 
            width: 249px; 
            min-height: 239px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439547077839-25 {
            top: 0px; 
            left: 11px; 
            width: 400px; 
            min-height: 239px; 
        }
        }.silex-id-1439547077327-20 {
            background-color: transparent; 
            top: -10px; 
            left: 43px; 
            width: 732px; 
            min-height: 120px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439547077327-20 {
            top: 11px; 
            left: 11px; 
            width: 400px; 
            min-height: 166px; 
        }
        }.silex-id-1470439662852-0 {
            min-height: 211px; 
            width: 236px; 
            top: 118px; 
            left: 45px; 
            background-color: transparent; 
            background-image: url('../assets/screenshot-678x336.png'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: top right; 
            border-radius: 6px 6px 6px 6px ; 
            border-width: 1px 1px 1px 1px ; 
            border-style: solid; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1470439662852-0 {
            top: 167px; 
            left: 11px; 
            width: 400px; 
            min-height: 303px; 
        }
        }.silex-id-1439547077633-23 {
            top: 135px; 
            left: 526px; 
            width: 261px; 
            min-height: 261px; 
        }
        .silex-id-1439547077532-22 {
            border-top-width: 1px; 
            border-right-width: 1px; 
            border-bottom-width: 1px; 
            border-left-width: 1px; 
            border-top-style: outset; 
            border-right-style: outset; 
            border-bottom-style: outset; 
            border-left-style: outset; 
            border-image-source: initial; 
            border-image-slice: initial; 
            border-image-width: initial; 
            border-image-outset: initial; 
            border-image-repeat: initial; 
            border-top-left-radius: 15px; 
            border-top-right-radius: 15px; 
            border-bottom-right-radius: 15px; 
            border-bottom-left-radius: 15px; 
            top: 309px; 
            left: 205px; 
            width: 136px; 
            background-color: rgb(49, 142, 255); 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            min-height: 29px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439547077532-22 {
            top: 311px; 
            left: 319px; 
            width: 72px; 
            min-height: 65px; 
        }
        }.silex-id-1439547077428-21 {
            background-color: transparent; 
            top: 3px; 
            left: 23px; 
            width: 94px; 
            border-top-color: rgb(0, 0, 0); 
            border-right-color: rgb(0, 0, 0); 
            border-bottom-color: rgb(0, 0, 0); 
            border-left-color: rgb(0, 0, 0); 
            min-height: 43px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439547077428-21 {
            top: 1px; 
            left: 111px; 
            width: 175px; 
            min-height: 43px; 
        }
        }.silex-id-1439547077223-19 {
            background-color: transparent; 
            top: 547px; 
            left: 31px; 
            width: 250px; 
            min-height: 167px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439547077223-19 {
            top: 571px; 
            left: 11px; 
            width: 421px; 
            min-height: 82px; 
        }
        }.silex-id-1439547077120-18 {
            background-color: transparent; 
            top: 547px; 
            left: 550px; 
            width: 250px; 
            min-height: 167px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439547077120-18 {
            top: 691px; 
            left: 11px; 
            width: 421px; 
            min-height: 103px; 
        }
        }.silex-id-1439547077020-17 {
            background-color: transparent; 
            top: 547px; 
            left: 290px; 
            width: 250px; 
            min-height: 167px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439547077020-17 {
            top: 833px; 
            left: 11px; 
            width: 421px; 
            min-height: 82px; 
        }
        }.silex-id-1439547076512-12 {
            background-color: transparent; 
            top: 28px; 
            left: 377px; 
            width: 461px; 
            min-height: 64px; 
        }
        .silex-id-1439547076411-11 {
            background-color: transparent; 
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            top: 0px; 
            left: 352px; 
            width: 93px; 
            min-height: 46px; 
        }
        .silex-id-1439547076310-10 {
            background-color: transparent; 
            top: 12px; 
            left: 7px; 
            width: 77px; 
            min-height: 24px; 
        }
        .silex-id-1439547076208-9 {
            background-color: transparent; 
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            top: 0px; 
            left: 269px; 
            width: 73px; 
            min-height: 46px; 
        }
        .silex-id-1439547076106-8 {
            background-color: transparent; 
            top: 12px; 
            left: 10px; 
            width: 54px; 
            min-height: 24px; 
        }
        .silex-id-1439547076005-7 {
            background-color: transparent; 
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            top: 0px; 
            left: 185px; 
            width: 73px; 
            min-height: 46px; 
        }
        .silex-id-1439547075903-6 {
            top: 12px; 
            left: 9px; 
            width: 54px; 
            background-color: transparent; 
            min-height: 24px; 
        }
        .silex-id-1439547075802-5 {
            background-color: transparent; 
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            top: 0px; 
            left: 101px; 
            width: 73px; 
            min-height: 46px; 
        }
        .silex-id-1439547075701-4 {
            background-color: transparent; 
            top: 12px; 
            left: 10px; 
            width: 54px; 
            min-height: 24px; 
        }
        .silex-id-1439547075600-3 {
            background-color: transparent; 
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px; 
            border-bottom-right-radius: 10px; 
            border-bottom-left-radius: 10px; 
            top: 0px; 
            left: 17px; 
            width: 73px; 
            min-height: 46px; 
        }
        .silex-id-1439547075498-2 {
            background-color: transparent; 
            top: 12px; 
            left: 10px; 
            width: 54px; 
            min-height: 24px; 
        }
        .silex-id-1439547076919-16 {
            top: 791px; 
            left: 695px; 
            width: 100px; 
            min-height: 55px; 
        }
        .silex-id-1439547076715-14 {
            background-color: rgba(0, 0, 0, 0.498); 
            border-top-left-radius: 15px; 
            border-top-right-radius: 15px; 
            border-bottom-right-radius: 15px; 
            border-bottom-left-radius: 15px; 
            top: 807px; 
            left: 555px; 
            width: 132px; 
            min-height: 29px; 
        }
        .silex-id-1439547076614-13 {
            background-color: transparent; 
            top: 2px; 
            left: 15px; 
            width: 119px; 
            min-height: 20px; 
        }
        .silex-id-1439547076816-15 {
            background-color: transparent; 
            top: 808px; 
            left: 18px; 
            width: 409px; 
            min-height: 33px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439547076816-15 {
            background-color: rgba(153,153,153,1); 
        }
        }
    