
        /* This is a help message
        
            _Text editor styles, CSS styles_
        
            Change these styles in order to change the text editor styles:
            .text-element HEADER is Title
            .text-element H1 is Title 1
            .text-element H2 is Title 2
            .text-element H3 is Title 3
            .text-element is Normal text
        
            Bellow this is the default formatting
        */
        .text-element HEADER,
        .text-element H1,
        .text-element H2,
        .text-element H3,
        .text-element {
          color: #666666;
        }
        .text-element,
        .text-element H1,
        .text-element H2,
        .text-element HEADER {
            color: black;
            font-weight: normal;
            font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
            font-size: 20px;
        }
        .text-element HEADER {
          font-size: 35px;
        }
        .text-element * {
            color: black;
            font-weight: normal;
            font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
        }
        .text-element{
            font-size: 14px;
        }
        .text-element a {
            font-weight: bold;
        }
        .nav .text-element {
            text-transform: uppercase;
            color: black;
            font-size: 12px;
        }
        .nav:hover .image-element {
            display: inherit;
        }
        .footer .text-element {
            color: grey;
            font-size: 12px;
        }
    
        .silex-id-1439555205914-33 {
            width: 1100px; 
            height: 1456px; 
            cursor: auto; 
            background-image: url('../assets/bg.png'); 
            background-attachment: scroll; 
            background-color: rgb(255, 255, 255); 
            background-size: auto; 
            background-repeat-x: repeat; 
            background-repeat-y: no-repeat; 
        }
        .silex-id-1439555205812-32 {
            background-color: transparent; 
            top: 5px; 
            left: 5px; 
            width: 1000px; 
            height: 1451px; 
            background-attachment: scroll; 
            position: absolute; 
            background-repeat-x: repeat; 
            background-repeat-y: repeat; 
        }
        .silex-id-1439555205710-31 {
            position: absolute; 
            width: 100px; 
            top: 0px; 
            left: 450px; 
            background-color: transparent; 
            height: 110px; 
            background-repeat-x: repeat; 
            background-repeat-y: repeat; 
        }
        .silex-id-1439555205609-30 {
            position: absolute; 
            height: 9px; 
            width: 19px; 
            left: 40px; 
            top: 2px; 
            border-top-color: rgb(204, 204, 255); 
            border-right-color: rgb(204, 204, 255); 
            border-bottom-color: rgb(204, 204, 255); 
            border-left-color: rgb(204, 204, 255); 
        }
        .silex-id-1439555205508-29 {
            position: absolute; 
            background-color: transparent; 
            top: 45px; 
            left: auto; 
            width: 100px; 
        }
        .silex-id-1439555205406-28 {
            position: absolute; 
            width: 100px; 
            left: 550px; 
            background-color: transparent; 
            height: 110px; 
            top: 0px; 
        }
        .silex-id-1439555205305-27 {
            position: absolute; 
            height: 9px; 
            width: 19px; 
            left: 40px; 
            top: 2px; 
            border-top-color: rgb(204, 204, 255); 
            border-right-color: rgb(204, 204, 255); 
            border-bottom-color: rgb(204, 204, 255); 
            border-left-color: rgb(204, 204, 255); 
        }
        .silex-id-1439555205204-26 {
            position: absolute; 
            background-color: transparent; 
            top: 45px; 
            left: auto; 
            width: 100px; 
        }
        .silex-id-1439555205103-25 {
            position: absolute; 
            width: 100px; 
            left: 650px; 
            background-color: transparent; 
            height: 110px; 
            top: 0px; 
        }
        .silex-id-1439555205000-24 {
            position: absolute; 
            background-color: transparent; 
            top: 45px; 
            left: auto; 
            width: 100px; 
        }
        .silex-id-1439555204899-23 {
            position: absolute; 
            height: 9px; 
            width: 19px; 
            left: 40px; 
            top: 2px; 
            border-top-color: rgb(204, 204, 255); 
            border-right-color: rgb(204, 204, 255); 
            border-bottom-color: rgb(204, 204, 255); 
            border-left-color: rgb(204, 204, 255); 
        }
        .silex-id-1439555204798-22 {
            position: absolute; 
            width: 100px; 
            background-color: transparent; 
            height: 110px; 
            left: 750px; 
            top: 0px; 
        }
        .silex-id-1439555204696-21 {
            position: absolute; 
            height: 9px; 
            width: 19px; 
            left: 40px; 
            top: 2px; 
            border-top-color: rgb(204, 204, 255); 
            border-right-color: rgb(204, 204, 255); 
            border-bottom-color: rgb(204, 204, 255); 
            border-left-color: rgb(204, 204, 255); 
        }
        .silex-id-1439555204595-20 {
            position: absolute; 
            background-color: transparent; 
            top: 45px; 
            left: auto; 
            width: 100px; 
        }
        .silex-id-1439555204494-19 {
            position: absolute; 
            width: 1000px; 
            top: 112px; 
            background-color: transparent; 
            left: 0px; 
            height: 16px; 
            border-top-width: 0px; 
            border-right-width: 0px; 
            border-bottom-width: 1px; 
            border-left-width: 0px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(204, 204, 204); 
            border-right-color: rgb(204, 204, 204); 
            border-bottom-color: rgb(204, 204, 204); 
            border-left-color: rgb(204, 204, 204); 
            background-repeat-x: repeat; 
            background-repeat-y: repeat; 
        }
        .silex-id-1439555204393-18 {
            position: absolute; 
            width: 100px; 
            background-color: transparent; 
            height: 110px; 
            left: 850px; 
            top: 0px; 
        }
        .silex-id-1439555204291-17 {
            position: absolute; 
            height: 9px; 
            width: 19px; 
            left: 40px; 
            top: 2px; 
            border-top-color: rgb(204, 204, 255); 
            border-right-color: rgb(204, 204, 255); 
            border-bottom-color: rgb(204, 204, 255); 
            border-left-color: rgb(204, 204, 255); 
        }
        .silex-id-1439555204190-16 {
            position: absolute; 
            background-color: transparent; 
            top: 45px; 
            left: auto; 
            width: 100px; 
        }
        .silex-id-1439555204088-15 {
            position: absolute; 
            width: 425px; 
            top: 921px; 
            left: 50px; 
            background-color: transparent; 
            background-repeat-x: repeat; 
            background-repeat-y: repeat; 
        }
        .silex-id-1439555203987-14 {
            position: absolute; 
            width: 900px; 
            top: 155px; 
            left: 50px; 
            background-color: transparent; 
            height: 171px; 
        }
        .silex-id-1439555203886-13 {
            position: absolute; 
            width: 425px; 
            top: 921px; 
            left: 525px; 
            background-color: transparent; 
        }
        .silex-id-1439555203785-12 {
            position: absolute; 
            height: 570px; 
            width: 900px; 
            top: 324px; 
            left: 50px; 
            background-color: transparent; 
            background-image: url('../assets/vue_appart_02.png'); 
            background-size: auto; 
            background-repeat-x: repeat; 
            background-repeat-y: repeat; 
        }
        .silex-id-1439555203685-11 {
            position: absolute; 
            width: 1000px; 
            top: 1204px; 
            background-color: transparent; 
            left: 0px; 
            height: 16px; 
            border-top-width: 0px; 
            border-right-width: 0px; 
            border-bottom-width: 1px; 
            border-left-width: 0px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(204, 204, 204); 
            border-right-color: rgb(204, 204, 204); 
            border-bottom-color: rgb(204, 204, 204); 
            border-left-color: rgb(204, 204, 204); 
            background-repeat-x: repeat; 
            background-repeat-y: repeat; 
        }
        .silex-id-1439555203583-10 {
            position: absolute; 
            height: 195px; 
            top: 1250px; 
            left: 50px; 
            background-color: rgb(255, 255, 255); 
            width: 900px; 
        }
        .silex-id-1439555203483-9 {
            position: absolute; 
            height: 137px; 
            width: 200px; 
            top: 0px; 
            left: 0px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1439555203381-8 {
            position: absolute; 
            height: 136px; 
            width: 200px; 
            top: 0px; 
            left: 233px; 
            background-color: rgb(255, 255, 255); 
            background-repeat-x: repeat; 
            background-repeat-y: repeat; 
        }
        .silex-id-1439555203279-7 {
            position: absolute; 
            height: 137px; 
            width: 200px; 
            top: 0px; 
            left: 467px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1439555203177-6 {
            position: absolute; 
            height: 136px; 
            width: 200px; 
            top: 0px; 
            left: 699px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1439555203076-5 {
            position: absolute; 
            height: 42px; 
            width: 900px; 
            top: 153px; 
            left: 0px; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1439555202975-4 {
            position: absolute; 
            width: 425px; 
            top: 325px; 
            left: 50px; 
            background-color: transparent; 
            height: 282px; 
            background-repeat-x: repeat; 
            background-repeat-y: repeat; 
        }
        .silex-id-1439555202874-3 {
            position: absolute; 
            height: 570px; 
            width: 900px; 
            top: 550px; 
            left: 50px; 
            background-color: transparent; 
            background-image: url('../assets/silex-screenshot.png'); 
            background-size: auto; 
            background-repeat-x: no-repeat; 
            background-repeat-y: no-repeat; 
        }
        .silex-id-1439555202772-2 {
            position: absolute; 
            width: 425px; 
            top: 325px; 
            left: 525px; 
            background-color: transparent; 
            height: 274px; 
            background-repeat-x: repeat; 
            background-repeat-y: repeat; 
        }
        .silex-id-1439555202671-1 {
            position: absolute; 
            top: 43px; 
            background-color: transparent; 
            left: 50px; 
            border-top-width: 1px; 
            border-right-width: 1px; 
            border-bottom-width: 1px; 
            border-left-width: 1px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(69, 69, 69); 
            border-right-color: rgb(69, 69, 69); 
            border-bottom-color: rgb(69, 69, 69); 
            border-left-color: rgb(69, 69, 69); 
            border-image-source: initial; 
            border-image-slice: initial; 
            border-image-width: initial; 
            border-image-outset: initial; 
            border-image-repeat: initial; 
        }
    