
        div.hero-bottom {
            top: auto;
            bottom: 30px;
        }
    body {
        font-family: arial, sans-serif;
        font-size: 19px;
        padding: 0 !important; /* no white spoace at the top in mobile */
    }
    h1 {
        font-size: 70px;
        font-weight: 100;
        line-height: .8;
    }
    h2 {
        font-size: 25px;
        font-weight: 100;
        line-height: 1.5;
    }
    .bg-grad {
        background: #82c2ed;
        background: -moz-linear-gradient(-45deg,#82c2ed 0,#a381ee 100%);
        background: -webkit-linear-gradient(-45deg,#82c2ed 0,#a381ee 100%);
        background: linear-gradient(135deg,#82c2ed 0,#a381ee 100%);
    }
    .bg-grad2 {
        background: #8adbdb;
        background: -moz-linear-gradient(-45deg,#8adbdb 0,#344e9b 100%);
        background: -webkit-linear-gradient(-45deg,#8adbdb 0,#344e9b 100%);
        background: linear-gradient(135deg,#8adbdb 0,#344e9b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8adbdb', endColorstr='#344e9b', GradientType=1 );
    }
    .scroll-down {
        cursor: pointer;
    }
    
        .body-initial {
            background-color: rgba(255,255,255,1); 
        }
        .silex-id-1474394621033-3 {
            top: 0px; 
            left: 0px; 
            background-color: rgba(99,178,216,1); 
            background-image: url('../assets/bg.jpg'); 
            background-size: cover; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1474394621033-3 {
            top: 60px; 
            left: 0px; 
        }
        }.silex-id-1474394621032-2 {
            min-height: 669px; 
            background-color: transparent; 
            width: 1200px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1474394621032-2 {
            min-height: 871px; 
        }
        }.silex-id-1484589161931-13 {
            min-height: 334px; 
            width: 447px; 
            top: 156px; 
            left: 553px; 
        }
        .silex-id-1484576338732-6 {
            min-height: 305px; 
            width: 515px; 
            background-color: transparent; 
            top: 184px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484576338732-6 {
            top: 354px; 
            left: 11px; 
            width: 423px; 
            min-height: 372px; 
        }
        }.silex-id-1484575683599-3 {
            min-height: 211px; 
            width: 494px; 
            top: 5px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484575683599-3 {
            top: 16px; 
            left: 11px; 
            width: 401px; 
            min-height: 267px; 
        }
        }.silex-id-1484576238553-4 {
            min-height: 43px; 
            width: 158px; 
            top: 218px; 
            left: 0px; 
        }
        .silex-id-1484576249090-5 {
            min-height: 43px; 
            width: 158px; 
            top: 218px; 
            left: 217px; 
        }
        .silex-id-1484655890366-24 {
            min-height: 30px; 
            width: 30px; 
            top: 597px; 
            left: 530px; 
        }
        .silex-id-1484587463012-11 {
            min-height: 100px; 
            top: 669px; 
            left: 0px; 
        }
        .silex-id-1484587463012-10 {
            min-height: 331px; 
            background-color: transparent; 
        }
        .silex-id-1484589600542-14 {
            min-height: 120px; 
            width: 270px; 
            top: 115px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484589600542-14 {
            top: 2px; 
            left: 11px; 
            width: 423px; 
            min-height: 115px; 
        }
        }.silex-id-1484589884177-15 {
            min-height: 107px; 
            width: 107px; 
            top: 87px; 
            left: 375px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484589884177-15 {
            top: 116px; 
            left: 2px; 
            width: 67px; 
            min-height: 67px; 
        }
        }.silex-id-1484589925987-18 {
            min-height: 42px; 
            width: 154px; 
            top: 200px; 
            left: 405px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484589925987-18 {
            top: 139px; 
            left: 75px; 
            width: 368px; 
            min-height: 42px; 
        }
        }.silex-id-1484589890126-16 {
            min-height: 128px; 
            width: 128px; 
            top: 74px; 
            left: 616px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484589890126-16 {
            top: 268px; 
            left: 18px; 
            width: 60px; 
            min-height: 60px; 
        }
        }.silex-id-1484589940350-19 {
            min-height: 33px; 
            width: 154px; 
            top: 200px; 
            left: 631px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484589940350-19 {
            top: 215px; 
            left: 78px; 
            width: 361px; 
            min-height: 33px; 
        }
        }.silex-id-1484589897940-17 {
            min-height: 64px; 
            width: 64px; 
            top: 107px; 
            left: 846px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484589897940-17 {
            top: 269px; 
            left: 12px; 
            width: 58px; 
            min-height: 58px; 
        }
        }.silex-id-1484589955761-20 {
            min-height: 33px; 
            width: 154px; 
            top: 200px; 
            left: 846px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484589955761-20 {
            top: 282px; 
            left: 78px; 
            width: 361px; 
            min-height: 33px; 
        }
        }.silex-id-1484590211530-22 {
            min-height: 100px; 
            top: 1000px; 
            left: 0px; 
            background-color: rgba(245,245,245,1); 
            border-color: #000000; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484590211530-22 {
            top: 1346px; 
            left: 0px; 
        }
        }.silex-id-1484590211529-21 {
            min-height: 485px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484590211529-21 {
            min-height: 670px; 
        }
        }.silex-id-1484658879156-30 {
            min-height: 279px; 
            width: 450px; 
            top: 104px; 
            left: 99px; 
        }
        .silex-id-1484658276174-26 {
            min-height: 189px; 
            width: 353px; 
            top: 106px; 
            left: 550px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484658276174-26 {
            top: 279px; 
            left: 11px; 
            width: 423px; 
            min-height: 189px; 
        }
        }.silex-id-1484658377172-27 {
            min-height: 63px; 
            width: 192px; 
            top: 297px; 
            left: 550px; 
            border-width: 1px 1px 1px 1px ; 
            border-style: solid; 
            border-radius: 6px 6px 6px 6px ; 
            border-color: #63b2d8; 
        }
        .silex-id-1484658633791-29 {
            min-height: 100px; 
            top: 1598px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484658633791-29 {
            top: 2016px; 
            left: 0px; 
        }
        }.silex-id-1484658633790-28 {
            min-height: 1160px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484658633790-28 {
            min-height: 1425px; 
        }
        }.silex-id-1484658906426-31 {
            min-height: 303px; 
            width: 500px; 
            top: 145px; 
            left: 0px; 
        }
        .silex-id-1484659675199-32 {
            min-height: 189px; 
            width: 314px; 
            top: 177px; 
            left: 686px; 
            border-color: #000000; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484659675199-32 {
            top: 0px; 
            left: 12px; 
            width: 421px; 
            min-height: 189px; 
        }
        }.silex-id-1484659675214-33 {
            min-height: 63px; 
            width: 192px; 
            top: 367px; 
            left: 686px; 
            border-radius: 6px 6px 6px 6px ; 
            border-color: #000000; 
            background-color: rgba(245,245,245,1); 
        }
        .silex-id-1484659915267-34 {
            min-height: 366px; 
            width: 466px; 
            top: 647px; 
            left: 534px; 
        }
        .silex-id-1484659957952-35 {
            min-height: 189px; 
            width: 314px; 
            top: 685px; 
            left: 0px; 
            border-color: #000000; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484659957952-35 {
            top: 921px; 
            left: 11px; 
            width: 423px; 
            min-height: 189px; 
        }
        }.silex-id-1484659957955-36 {
            min-height: 63px; 
            width: 192px; 
            top: 875px; 
            left: 0px; 
            border-radius: 6px 6px 6px 6px ; 
            border-color: #000000; 
            background-color: rgba(245,245,245,1); 
        }
        .silex-id-1484660025157-38 {
            top: 2758px; 
            left: 0px; 
            min-height: 100px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484660025157-38 {
            top: 3297px; 
            left: 0px; 
        }
        }.silex-id-1484660025157-37 {
            min-height: 720px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484660025157-37 {
            min-height: 1205px; 
        }
        }.silex-id-1484660331538-40 {
            min-height: 663px; 
            width: 347px; 
            top: 57px; 
            left: 653px; 
        }
        .silex-id-1484660593104-50 {
            min-height: 59px; 
            width: 59px; 
            top: 100px; 
            left: 25px; 
        }
        .silex-id-1484660590493-49 {
            min-height: 59px; 
            width: 59px; 
            top: 100px; 
            left: 174px; 
        }
        .silex-id-1484660587788-48 {
            min-height: 59px; 
            width: 59px; 
            top: 100px; 
            left: 315px; 
        }
        .silex-id-1484660581795-47 {
            min-height: 59px; 
            width: 59px; 
            top: 100px; 
            left: 465px; 
        }
        .silex-id-1484660694480-51 {
            min-height: 59px; 
            width: 602px; 
            top: 154px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484660694480-51 {
            top: 722px; 
            left: 11px; 
            width: 423px; 
            min-height: 80px; 
        }
        }.silex-id-1484660819078-52 {
            min-height: 323px; 
            width: 647px; 
            top: 254px; 
            left: 0px; 
            border-color: #000000; 
        }
        .silex-id-1484661186677-53 {
            min-height: 63px; 
            width: 192px; 
            top: 590px; 
            left: 0px; 
            border-width: 1px 1px 1px 1px ; 
            border-style: solid; 
            border-radius: 6px 6px 6px 6px ; 
            border-color: #ffffff; 
            background-color: transparent; 
        }
        .silex-id-1484661251321-55 {
            min-height: 100px; 
            top: 3478px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484661251321-55 {
            top: 4669px; 
            left: 0px; 
        }
        }.silex-id-1484661251321-54 {
            min-height: 804px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484661251321-54 {
            min-height: 582px; 
        }
        }.silex-id-1484661716413-56 {
            min-height: 513px; 
            width: 600px; 
            top: 124px; 
            left: 210px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484661716413-56 {
            top: 69px; 
            left: 11px; 
            width: 423px; 
            min-height: 445px; 
        }
        }.silex-id-1484662129693-59 {
            min-height: 100px; 
            top: 4282px; 
            left: 0px; 
            background-color: rgba(245,245,245,1); 
            border-color: #000000; 
        }
        .silex-id-1484662129693-60 {
            min-height: 477px; 
            background-color: transparent; 
        }
        .silex-id-1484662129694-62 {
            min-height: 279px; 
            width: 450px; 
            top: 104px; 
            left: 99px; 
        }
        .silex-id-1484662129693-61 {
            min-height: 189px; 
            width: 353px; 
            top: 106px; 
            left: 550px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484662129693-61 {
            top: 279px; 
            left: 11px; 
            width: 423px; 
            min-height: 189px; 
        }
        }.silex-id-1484662129694-63 {
            min-height: 63px; 
            width: 192px; 
            top: 297px; 
            left: 550px; 
            border-width: 1px 1px 1px 1px ; 
            border-style: solid; 
            border-radius: 6px 6px 6px 6px ; 
            border-color: #63b2d8; 
        }
        .silex-id-1484662096460-58 {
            min-height: 100px; 
            top: 4646px; 
            left: 0px; 
        }
        .silex-id-1484662096459-57 {
            min-height: 415px; 
            background-color: transparent; 
        }
        .silex-id-1484662183052-64 {
            min-height: 192px; 
            width: 515px; 
            background-color: transparent; 
            top: 120px; 
            left: 258px; 
        }
        .silex-id-1484662183053-66 {
            min-height: 43px; 
            width: 158px; 
            top: 126px; 
            left: 81px; 
        }
        .silex-id-1484662183053-67 {
            min-height: 43px; 
            width: 158px; 
            top: 126px; 
            left: 268px; 
        }
        .silex-id-1484662183053-65 {
            min-height: 83px; 
            width: 494px; 
            top: 9px; 
            left: 11px; 
        }
        .silex-id-1478366450713-3 {
            top: 5061px; 
            left: 0px; 
            background-color: transparent; 
        }
        .silex-id-1478366450713-2 {
            min-height: 219px; 
            background-color: transparent; 
            width: 1200px; 
        }
        .silex-id-1442914737143-3 {
            min-height: 75px; 
            width: 349px; 
            top: 56px; 
            left: 337px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1442914737143-3 {
            top: 57px; 
            left: 11px; 
            width: 423px; 
            min-height: 105px; 
        }
        }
    