
        /*
        	Here are the CSS styles of your website.
        
        	Bellow are some examples, like the styles which you can apply to your text in the text editor.
        
        	See this page for help on CSS
        	https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started
        
        	In the advanced "Apollo" mode, you will be able to add CSS classes to Silex elements,
        	and then apply a CSS style to it here.
        */
        
        /* define a style for Title, Headings and Normal texts */
        .title,
        .heading1,
        .heading2,
        .heading3,
        .normal {
          color: #666666;
          font-family: verdana, arial;
        	margin: 0;
        }
        
        /* title style */
        .title {
          font-size: 45px;
        }
        /* special classes, dedicace to leo */
        body {
            padding: 0;
        }
        .editable-style.full-width{
            width: 2000px;
            left: 0;
        }
        .editable-style.centered{
            left: 50%;
            width: 980px;
            margin-left: -490px;
            position: absolute;
        }
        .editable-style.right-aligned{
            right: 0;
            left: auto;
        }
        .silex-runtime .editable-style.full-width{
            width: 100%;
        }
        /* website styles */
        .normal,
        .heading1{
            font-weight: normal;
            color: white;
        }
        .heading2{
            font-weight: normal;
            color: black;
            color: white;
        }
        .page-content .heading1{
            font-size: 36px;
            font-family: sans-serif;
            color: #3D3D3D;
            font-weight: normal;
        }
        .page-content .normal{
            color: #818181;
        }
        /* NAV */
        .nav div{
            color: white;
            font-family: sans-serif;
            font-size: 16px;
            font-weight: normal;
        }
        .nav a.page-link-active{
            font-weight: bold;
            border-bottom: 4px solid #34b399;
        }
        /* override default links style */
        .editable-style.nav a:hover{
            text-decoration: initial;
        }
    
    /* prevent the body to have a margin on top in mobile version */
    body {
        padding-top: 0 !important;
    }
    
        .silex-id-1439555806958-90 {
            cursor: auto; 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1484951384737-1 {
            min-height: 100px; 
            top: 0px; 
            left: 0px; 
            background-image: url('../assets/background_header.jpg'); 
            background-position: center center; 
            min-width: 945px; 
            background-size: cover; 
            background-repeat: no-repeat; 
        }
        .silex-id-1484951384736-0 {
            min-height: 591px; 
            background-color: transparent; 
            width: 945px; 
            top: 0px; 
            left: 530px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484951384736-0 {
            min-height: -200px; 
        }
        }.silex-id-1439555803858-60 {
            width: 539px; 
            top: 66px; 
            left: 405px; 
            background-color: transparent; 
            min-height: 79px; 
        }
        .silex-id-1439555803757-59 {
            width: 150px; 
            top: 15px; 
            left: 18px; 
            background-color: transparent; 
            min-height: 22px; 
        }
        .silex-id-1439555803655-58 {
            width: 150px; 
            top: 15px; 
            left: 203px; 
            background-color: transparent; 
            min-height: 23px; 
        }
        .silex-id-1439555803551-57 {
            width: 150px; 
            top: 15px; 
            left: 381px; 
            background-color: transparent; 
            min-height: 23px; 
        }
        .silex-id-1439555803976-61 {
            width: 298.605px; 
            top: 68px; 
            left: 33px; 
            min-height: 40px; 
        }
        .silex-id-1439555803032-54 {
            width: 945px; 
            top: 233px; 
            left: 0px; 
            background-color: transparent; 
            min-height: 87px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439555803032-54 {
            top: 267px; 
            left: 11px; 
            width: 423px; 
            min-height: 52px; 
        }
        }.silex-id-1439555803447-56 {
            width: 242px; 
            top: 410px; 
            left: 355px; 
            background-color: rgb(43, 148, 126); 
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px; 
            border-bottom-right-radius: 5px; 
            border-bottom-left-radius: 5px; 
            min-height: 46px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439555803447-56 {
            top: 496px; 
            left: 11px; 
            width: 423px; 
            min-height: 46px; 
        }
        }.silex-id-1439555803309-55 {
            width: 215px; 
            top: 13px; 
            left: 13px; 
            background-color: transparent; 
            min-height: 33px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439555803309-55 {
            top: 13px; 
            left: 104px; 
            width: 215px; 
            min-height: 20px; 
        }
        }.silex-id-1439555804599-67 {
            width: 289px; 
            top: 0px; 
            left: 0px; 
            background-color: rgba(0, 0, 0, 0.227451); 
            min-height: 40px; 
        }
        .silex-id-1439555804497-66 {
            width: 523px; 
            top: 0px; 
            left: 1477px; 
            background-color: transparent; 
            min-height: 40px; 
        }
        .silex-id-1439555804395-65 {
            width: 21px; 
            top: 10px; 
            left: 466px; 
            opacity: 0.8; 
            min-height: 19px; 
        }
        .silex-id-1439555804293-64 {
            width: 25px; 
            top: 7px; 
            left: 424px; 
            opacity: 0.8; 
            min-height: 25px; 
        }
        .silex-id-1439555804192-63 {
            width: 13.3333px; 
            top: 9px; 
            left: 386px; 
            opacity: 0.8; 
            min-height: 22px; 
        }
        .silex-id-1484951794946-5 {
            min-height: 100px; 
            top: 591px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484951794946-5 {
            top: 535px; 
            left: 0px; 
        }
        }.silex-id-1484951794946-4 {
            min-height: 1235px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1484951794946-4 {
            min-height: 1689px; 
        }
        }.silex-id-1439555805723-78 {
            width: 400px; 
            top: 58px; 
            left: 47px; 
            background-color: transparent; 
            min-height: 178px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1439555805723-78 {
            top: 29px; 
            left: 23px; 
            width: 400px; 
            min-height: 119px; 
        }
        }.silex-id-1439555805622-77 {
            width: 242px; 
            top: 246px; 
            left: 116px; 
            background-color: rgb(43, 148, 126); 
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px; 
            border-bottom-right-radius: 5px; 
            border-bottom-left-radius: 5px; 
            min-height: 46px; 
        }
        .silex-id-1439555805518-76 {
            width: 215px; 
            top: 17px; 
            left: 14px; 
            background-color: transparent; 
            min-height: 20px; 
        }
        .silex-id-1439555805416-75 {
            width: 487.309px; 
            top: 60px; 
            left: 464px; 
            min-height: 303px; 
        }
        .silex-id-1439555805314-74 {
            width: 495.52px; 
            top: 515px; 
            left: -2px; 
            min-height: 152px; 
        }
        .silex-id-1439555805211-73 {
            width: 400px; 
            top: 515px; 
            left: 533px; 
            background-color: transparent; 
            min-height: 146px; 
        }
        .silex-id-1439555805111-72 {
            width: 400px; 
            top: 765px; 
            left: 268px; 
            background-color: transparent; 
            min-height: 53px; 
        }
        .silex-id-1439555805010-71 {
            width: 242px; 
            top: 664px; 
            left: 533px; 
            background-color: rgb(43, 148, 126); 
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px; 
            border-bottom-right-radius: 5px; 
            border-bottom-left-radius: 5px; 
            min-height: 46px; 
        }
        .silex-id-1439555804907-70 {
            width: 215px; 
            top: 16px; 
            left: 14px; 
            background-color: transparent; 
            min-height: 28px; 
        }
        .silex-id-1439555804805-69 {
            width: 484px; 
            top: 842px; 
            left: 219px; 
            background-color: rgb(255, 255, 255); 
            min-height: 331px; 
        }
        .silex-id-1484952760464-11 {
            min-height: 100px; 
            top: 439px; 
            left: 0px; 
        }
        .silex-id-1484952760463-10 {
            min-height: 585px; 
            background-color: transparent; 
        }
        .silex-id-1484952775498-12 {
            min-height: 288px; 
            width: 877px; 
            top: 58px; 
            left: 33px; 
        }
        .silex-id-1484951945204-7 {
            min-height: 100px; 
            top: 4107px; 
            left: 0px; 
            background-color: rgba(65,73,96,1); 
        }
        .silex-id-1484951945204-6 {
            min-height: 482px; 
            background-color: transparent; 
        }
        .silex-id-1439555806543-86 {
            width: 980px; 
            top: 32px; 
            left: -17px; 
            background-color: transparent; 
            min-height: 57px; 
        }
        .silex-id-1439555806441-85 {
            width: 302px; 
            top: 259px; 
            left: 17px; 
            background-color: transparent; 
            min-height: 116px; 
        }
        .silex-id-1439555806339-84 {
            width: 141.518px; 
            top: 147px; 
            left: 416px; 
            min-height: 79px; 
        }
        .silex-id-1439555806236-83 {
            width: 91px; 
            top: 137px; 
            left: 116px; 
            min-height: 91px; 
        }
        .silex-id-1439555806132-82 {
            width: 90px; 
            top: 140px; 
            left: 732px; 
            min-height: 78.6792px; 
        }
        .silex-id-1439555806030-81 {
            width: 265px; 
            top: 258px; 
            left: 360px; 
            background-color: transparent; 
            min-height: 190px; 
        }
        .silex-id-1439555805927-80 {
            width: 302px; 
            top: 257px; 
            left: 647px; 
            background-color: transparent; 
            min-height: 190px; 
        }
        .silex-id-1484952021004-9 {
            min-height: 100px; 
            top: 4107px; 
            left: 0px; 
            background-color: rgba(0,0,0,1); 
        }
        .silex-id-1484952021003-8 {
            min-height: 108px; 
            background-color: transparent; 
        }
        .silex-id-1439555802805-52 {
            width: 855px; 
            top: 24px; 
            left: 45px; 
            background-color: transparent; 
            min-height: 55px; 
        }
    