@import url('http://fonts.googleapis.com/css?family=Roboto:100');

/* transition */
.silex-runtime .paged-element {
    transition: all .15s ease-out;
    opacity: 0;
    display: block !important;
}
.silex-runtime .paged-element.paged-element-visible {
    opacity: 1;
}

/* header */
.logo .title {
    color: #FF9900;
}
.logo .normal {
    color: #FEFFFD;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    line-height: 25px;
    text-transform: uppercase;
}
.nav .normal {
    color: #FEFFFD;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 45px;
    text-transform: uppercase;
    z-index: 1;
}
.nav-mark {
    border-bottom: 1px solid #000000;
    transition: border .2s ease-out, background-color .2s ease-out;
}
.nav-mark:hover {
    border-bottom: 1px solid #FF9900;
}
.nav-mark.page-link-active {
    background-color: #FF9900 !important;
}
/* home */
.sub-nav.page-link-active {
    width: 250px !important;
    box-shadow: 0 1px 10px black;
}
.sub-nav {
    transition: all .15s ease-out;
    color: #FEFFFD;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 5px;
    text-transform: uppercase;
    z-index: 1;
}
.sub-nav .heading1 {
    font-size: 40px;
}
.normal, .heading1 {
    color: #FEFFFD;
    font-weight: 200;
    line-height: 20px;
}
.white-bg .heading2,
.white-bg .normal {
    color: black;
}
.white-bg .heading2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    text-transform: capitalize;
    line-height: 0px;
}
.white-bg .heading2:first-letter {
    background-color: #FF9900;
    color: #FEFFFD;
    padding: 0 10px;
    margin-right: 2px;
}
.white-bg .normal {
    font-size: 15px;
    font-family: Arial, sans-serif;
    line-height: 20px;
}
.button-read-more .normal {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: capitalize;
    line-height: 30px;
}




.element-0{
	left: 0px; top: 0px; background-color: rgb(0, 0, 0);
}
.element-1{
	top: 6px; left: 76px; width: 960px; height: 1512px; box-sizing: content-box; background-color: transparent; background-size: cover; background-position: 50% 0%; background-repeat: no-repeat;
}
.element-2{
	height: 141px; width: 960px; top: 0px; left: 0px; position: absolute; box-sizing: content-box; background-color: rgb(0, 0, 0);
}
.element-3{
	height: 42px; width: 91px; top: 84px; left: 273px; position: absolute; box-sizing: content-box;
}
.element-4{
	height: 37px; width: 55px; top: -2px; left: 19px; position: absolute; box-sizing: content-box;
}
.element-5{
	height: 42px; width: 140px; top: 83px; left: 374px; position: absolute; box-sizing: content-box;
}
.element-6{
	height: 37px; width: 114px; top: -2px; left: 14px; position: absolute; box-sizing: content-box;
}
.element-7{
	height: 136px; width: 226px; top: 2px; left: 2px; position: absolute; box-sizing: content-box;
}
.element-8{
	height: 42px; width: 140px; top: 83px; left: 525px; position: absolute; box-sizing: content-box;
}
.element-9{
	height: 37px; width: 133px; top: -2px; left: 6px; position: absolute; box-sizing: content-box;
}
.element-10{
	height: 42px; width: 140px; top: 83px; left: 675px; position: absolute; box-sizing: content-box;
}
.element-11{
	height: 37px; width: 117px; top: -2px; left: 12px; position: absolute; box-sizing: content-box;
}
.element-12{
	height: 42px; width: 103px; top: 83px; left: 825px; position: absolute; box-sizing: content-box;
}
.element-13{
	height: 37px; width: 84px; top: -2px; left: 10px; position: absolute; box-sizing: content-box;
}
.element-14{
	height: 483px; width: 960px; top: 140px; left: 0px; position: absolute; box-sizing: content-box; background-color: rgb(0, 0, 0);
}
.element-15{
	height: 158px; width: 232px; top: 163px; left: 0px; position: absolute; box-sizing: content-box; border-color: rgb(255, 255, 255); border-width: 0px 3px 0px 0px; border-style: solid; background-color: rgb(102, 88, 71);
}
.element-16{
	height: 104px; width: 183px; top: 32px; left: 45px; position: absolute; box-sizing: content-box;
}
.element-17{
	height: 158px; width: 232px; top: 5px; left: 0px; position: absolute; box-sizing: content-box; border-color: rgb(255, 255, 255); border-width: 0px 3px 0px 0px; border-style: solid; background-color: rgb(255, 153, 0);
}
.element-18{
	height: 104px; width: 183px; top: 32px; left: 45px; position: absolute; box-sizing: content-box;
}
.element-19{
	height: 474px; width: 726px; top: 5px; left: 232px; position: absolute; box-sizing: content-box; background-image: url('../assets/xpdPwXTASnOUXFpIPgDs_IMG_1460_edt.jpg'); background-color: transparent; background-size: cover; background-repeat: no-repeat;
}
.element-20{
	height: 158px; width: 232px; top: 321px; left: 0px; position: absolute; box-sizing: content-box; border-color: rgb(255, 255, 255); border-width: 0px 3px 0px 0px; border-style: solid; background-color: rgb(61, 54, 45);
}
.element-21{
	height: 104px; width: 183px; top: 32px; left: 45px; position: absolute; box-sizing: content-box;
}
.element-22{
	height: 474px; width: 726px; top: 5px; left: 232px; position: absolute; box-sizing: content-box; background-image: url('../assets/UJO0jYLtRte4qpyA37Xu_9X6A7388.jpg'); background-color: transparent; background-size: cover; background-repeat: no-repeat;
}
.element-23{
	height: 474px; width: 726px; top: 8px; left: 233px; position: absolute; box-sizing: content-box; background-image: url('../assets/8bc72ed7.jpg'); background-color: transparent; background-size: cover; background-repeat: no-repeat;
}
.element-24{
	height: 309px; width: 960px; top: 630px; left: 0px; position: absolute; box-sizing: content-box; background-color: rgb(254, 255, 253);
}
.element-25{
	height: 254px; width: 290px; top: 26px; left: 37px; position: absolute; box-sizing: content-box; border-width: 0px 1px 0px 0px; border-style: solid; border-color: rgb(102, 88, 71); background-color: transparent;
}
.element-26{
	height: 91px; width: 266px; top: 169px; left: 3px; position: absolute; box-sizing: content-box;
}
.element-27{
	height: 60px; width: 283px; top: -6px; left: 0px; position: absolute; box-sizing: content-box;
}
.element-28{
	height: 94px; width: 260px; top: 66px; left: 0px; position: absolute; box-sizing: content-box; border: 5px solid rgb(0, 0, 0); background-image: url('../assets/wood.jpg'); background-color: rgb(0, 0, 0); background-size: cover; background-position: 50% 100%;
}
.element-29{
	height: 254px; width: 290px; top: 26px; left: 345px; position: absolute; box-sizing: content-box; border-width: 0px 1px 0px 0px; border-style: solid; border-color: rgb(102, 88, 71); background-color: transparent;
}
.element-30{
	height: 94px; width: 260px; top: 66px; left: 0px; position: absolute; box-sizing: content-box; border: 5px solid rgb(0, 0, 0); background-image: url('../assets/night.jpg'); background-color: rgb(0, 0, 0); background-size: cover; background-position: 50% 100%;
}
.element-31{
	height: 91px; width: 266px; top: 169px; left: 3px; position: absolute; box-sizing: content-box;
}
.element-32{
	height: 60px; width: 283px; top: -6px; left: 0px; position: absolute; box-sizing: content-box;
}
.element-33{
	height: 254px; width: 290px; top: 26px; left: 656px; position: absolute; box-sizing: content-box; border-color: rgb(102, 88, 71); background-color: transparent;
}
.element-34{
	height: 94px; width: 260px; top: 66px; left: 0px; position: absolute; box-sizing: content-box; border: 5px solid rgb(0, 0, 0); background-image: url('../assets/bench.jpg'); background-color: rgb(0, 0, 0); background-size: cover; background-position: 50% 100%;
}
.element-35{
	height: 91px; width: 266px; top: 169px; left: 3px; position: absolute; box-sizing: content-box;
}
.element-36{
	height: 60px; width: 283px; top: -6px; left: 0px; position: absolute; box-sizing: content-box;
}
.element-37{
	height: 111px; width: 592px; top: 950px; left: 342px; position: absolute; box-sizing: content-box;
}
.element-38{
	height: 61px; width: 225px; top: 951px; left: 41px; position: absolute; box-sizing: content-box;
}
.element-39{
	height: 68px; width: 47px; top: 944px; left: 310px; position: absolute; box-sizing: content-box;
}
.element-40{
	height: 68px; width: 47px; top: 1017px; left: 647px; position: absolute; box-sizing: content-box;
}
.element-41{
	height: 215px; width: 280px; top: 1086px; left: 25px; position: absolute; box-sizing: content-box; background-color: transparent;
}
.element-42{
	height: 147px; width: 276px; top: 14px; left: 14px; position: absolute; box-sizing: content-box;
}
.element-43{
	height: 34px; width: 113px; top: 166px; left: 16px; position: absolute; box-sizing: content-box; background-color: rgb(255, 153, 0);
}
.element-44{
	height: 215px; width: 280px; top: 1086px; left: 332px; position: absolute; box-sizing: content-box; background-color: transparent;
}
.element-45{
	height: 147px; width: 276px; top: 14px; left: 14px; position: absolute; box-sizing: content-box;
}
.element-46{
	height: 34px; width: 113px; top: 166px; left: 16px; position: absolute; box-sizing: content-box; background-color: rgb(102, 88, 71);
}
.element-47{
	height: 215px; width: 280px; top: 1086px; left: 639px; position: absolute; box-sizing: content-box; background-color: transparent;
}
.element-48{
	height: 147px; width: 276px; top: 14px; left: 14px; position: absolute; box-sizing: content-box;
}
.element-49{
	height: 34px; width: 113px; top: 166px; left: 16px; position: absolute; box-sizing: content-box; background-color: rgb(61, 54, 45);
}
.element-50{
	height: 50px; width: 600px; top: 1472px; left: 180px; position: absolute; box-sizing: content-box; background-color: transparent;
}
.element-51{
	height: 67px; width: 264px; top: 1349px; left: 37px; position: absolute; box-sizing: content-box;
}
.element-52{
	height: 37px; width: 88px; top: 1352px; left: 834px; position: absolute;
}
.element-53{
	height: 40px; width: 40px; top: 1350px; left: 771px; position: absolute;
}
.element-54{
	height: 34.5675675675675px; width: 25px; top: 1403px; left: 663px; position: absolute; box-sizing: content-box;
}
.element-55{
	height: 38px; width: 240px; top: 1409px; left: 698px; position: absolute; box-sizing: content-box;
}
.element-56{
	height: 37px; width: 84px; top: 1400px; left: 539px; position: absolute; box-sizing: content-box;
}
.element-57{
	height: 37px; width: 117px; top: 1400px; left: 400px; position: absolute; box-sizing: content-box;
}
.element-58{
	height: 37px; width: 133px; top: 1400px; left: 247px; position: absolute; box-sizing: content-box;
}
.element-59{
	height: 42px; width: 114px; top: 1400px; left: 116px; position: absolute; box-sizing: content-box;
}
.element-60{
	height: 37px; width: 55px; top: 1400px; left: 37px; position: absolute; box-sizing: content-box;
}
.element-61{
	height: 189px; width: 817px; top: 150px; left: 2px; position: absolute; box-sizing: content-box;
}
.element-62{
	height: 474px; width: 726px; top: 321px; left: 2px; position: absolute;
}
.element-63{
	height: 189px; width: 817px; top: 150px; left: 2px; position: absolute; box-sizing: content-box;
}
.element-64{
	height: 189px; width: 817px; top: 150px; left: 2px; position: absolute; box-sizing: content-box;
}
.element-65{
	height: 100px; width: 100px; top: 242px; left: 46px; position: absolute; background-color: transparent;
}
.element-66{
	height: 914px; width: 942px; top: 146px; left: 17px; position: absolute; box-sizing: content-box; background-color: transparent;
}