
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:700,300');
        .normal {
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 20px;
        }
        
        .top-text .normal {
            color: white;
        }
        /* mobile version */
        
        body.enable-mobile {
            padding: 0;
        }
        
        .silex-pages {
            display: none;
        }
        /*  */
        
        .heading1 {
            text-shadow: 2px -2px 5px rgba(0, 0, 0, 0.75);
            letter-spacing: -3px;
            font-size: 150px;
            font-weight: 700;
            line-height: 150px;
            margin-bottom: 0;
            text-transform: uppercase;
            text-rendering: optimizelegibility;
            color: #1ABC9C;
        }
        
        .heading2 {
            font-size: 36px;
            font-weight: 300;
            letter-spacing: -1;
            text-rendering: optimizelegibility;
            text-transform: uppercase;
        }
        
        .heading3 {
            font-size: 26px;
            font-weight: 300;
            text-rendering: optimizelegibility;
            text-transform: uppercase;
            color: #666666;
        }
        
        .go-down {
            cursor: pointer;
        }
        
        body .top-pic {
            left: 0;
            right: 0;
            width: initial;
            width: auto;
        }
        
        .arrow .normal {
            font-size: 110px;
            line-height: 15px;
            color: white;
        }
        
        .middle-text .normal {
            color: white;
        }
        
        .button {
            color: white;
            line-height: 35px;
        }
        
        .button.page-link-active {
            background-color: #FC6F5C;
        }
        
        .col>div {
            columns: 3;
            column-gap: 50px;
            -moz-columns: 2;
            -moz-column-gap: 50px;
            -webkit-columns: 3;
            -webkit-column-gap: 50px;
            text-align: justify;
        }
    
        .body-initial {
            background-color: rgb(255, 255, 255);
        }
        
        .silex-id-1489143154958-1 {
            top: 100px;
            left: NaNpx;
            background-image: url('../assets/top-pic.jpg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: rgba(51, 51, 51, 1);
        }
        
        .silex-id-1489143154957-0 {
            min-height: 960px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1489143154957-0 {
                top: 0px;
                left: 12px;
                width: 445px;
                min-height: 960px;
            }
        }
        
        .silex-id-1440793860642-0 {
            width: 960px;
            top: 151px;
            left: 0px;
            background-color: transparent;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            min-height: 394px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1440793860642-0 {
                top: 75px;
                left: 11px;
                width: 423px;
                min-height: 558px;
            }
        }
        
        .silex-id-1440798151836-0 {
            width: 100px;
            top: 633px;
            left: 443px;
            background-color: rgba(26, 188, 156, 0.447059);
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius: 50px;
            border-top-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-left-width: 1px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            border-top-color: rgb(0, 0, 0);
            border-right-color: rgb(0, 0, 0);
            border-bottom-color: rgb(0, 0, 0);
            border-left-color: rgb(0, 0, 0);
            min-height: 100px;
        }
        
        .silex-id-1484954814876-0 {
            min-height: 33px;
            width: 54px;
            top: 38px;
            left: 24px;
        }
        
        .silex-id-1489143327627-3 {
            top: 960px;
            left: 0px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1489143327627-3 {
                top: 1020px;
                left: 0px;
            }
        }
        
        .silex-id-1489143327626-2 {
            min-height: 733px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1489143327626-2 {
                min-height: 1014px;
            }
        }
        
        .silex-id-1440798996856-3 {
            width: 489px;
            top: 129px;
            left: 0px;
            min-height: 94px;
        }
        
        .silex-id-1440798669277-2 {
            width: 242px;
            top: 233px;
            left: -2px;
            min-height: 300px;
        }
        
        .silex-id-1440799193140-4 {
            width: 678px;
            top: 205px;
            left: 282px;
            min-height: 347px;
        }
        
        .silex-id-1489143411591-5 {
            top: 1473px;
            left: 0px;
            background-color: rgba(51, 51, 51, 1);
            background-image: url('../assets/pic2.jpg');
        }
        
        .silex-id-1489143411591-4 {
            min-height: 960px;
            background-color: transparent;
        }
        
        .silex-id-1440800016088-6 {
            width: 960px;
            top: 134px;
            left: 0px;
            min-height: 621px;
        }
        
        .silex-id-1489143528708-7 {
            top: 6637px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1489143528708-7 {
                top: 3293px;
                left: 0px;
            }
        }
        
        .silex-id-1489143528708-6 {
            min-height: 1163px;
            background-color: rgb(255, 255, 255);
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1489143528708-6 {
                min-height: 2771px;
            }
        }
        
        .silex-id-1440800306868-7 {
            width: 130px;
            top: 67px;
            left: 212px;
            background-color: rgb(83, 161, 173);
            border-top-left-radius: 11px;
            border-top-right-radius: 11px;
            border-bottom-right-radius: 11px;
            border-bottom-left-radius: 11px;
            min-height: 40px;
        }
        
        .silex-id-1440800468283-8 {
            width: 130px;
            top: 67px;
            left: 412px;
            background-color: rgb(83, 161, 173);
            border-top-left-radius: 11px;
            border-top-right-radius: 11px;
            border-bottom-right-radius: 11px;
            border-bottom-left-radius: 11px;
            min-height: 40px;
        }
        
        .silex-id-1440800509589-9 {
            width: 130px;
            top: 67px;
            left: 612px;
            background-color: rgb(83, 161, 173);
            border-top-left-radius: 11px;
            border-top-right-radius: 11px;
            border-bottom-right-radius: 11px;
            border-bottom-left-radius: 11px;
            min-height: 40px;
        }
        
        .silex-id-1440800819834-10 {
            width: 960px;
            top: 180px;
            left: 0px;
            min-height: 960px;
        }
        
        .silex-id-1440801309675-13 {
            width: 960px;
            top: 180px;
            left: 0px;
            min-height: 960px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1440801309675-13 {
                top: 195px;
                left: 11px;
                width: 423px;
                min-height: 2525px;
            }
        }
        
        .silex-id-1492792986749-1 {
            height: 979px;
            width: 960px;
            background-color: transparent;
            top: 162px;
            left: 0px;
        }
        
        .silex-id-1489143627408-9 {
            top: 6637px;
            left: 0px;
        }
        
        .silex-id-1489143627407-8 {
            min-height: 324px;
            background-color: rgb(255, 255, 255);
        }
        
        .silex-id-1440801730160-14 {
            width: 960px;
            top: 58px;
            left: 0px;
            border-top-width: 1px;
            border-right-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            min-height: 218.25px;
        }
    