
        .normal {
            font-family: arial, sans-serif;
        }
        
        .nav-button {
            line-height: 3;
            color: #A2AC87;
            font-size: 14px;
            letter-spacing: 4px;
            text-align: center;
        }
        
        h1,
        h2 {
            font-size: 50px;
            font-weight: 100;
            color: #444444;
        }
        
        .content {
            line-height: 2;
            color: #444444;
            font-size: 16px;
        }
        
        .active-menu {
            font-weight: bold;
        }
        
        body.enable-mobile {
            padding: 0;
        }
        /* ******************* *
 * always visible menu */
        
        .silex-runtime .editable-style.nav-section {
            position: fixed;
            z-index: 9999;
        }
        
        .silex-runtime .nav-section+.editable-style {
            margin-top: 100px;
        }
        /* ******************* */
    
        .body-initial {
            background-color: rgba(253, 246, 235, 1);
        }
        
        .silex-id-1491510574619-3 {
            background-color: rgba(253, 246, 235, 1);
            border-color: #000000;
            min-width: 1000px;
        }
        
        .silex-id-1491510574619-2 {
            width: 1000px;
            min-height: 100px;
            top: 15px;
            left: 250px;
        }
        
        .silex-id-1491511225781-5 {
            width: 200px;
            min-height: 67px;
            top: 14px;
            left: 1px;
        }
        
        .silex-id-1491512678931-14 {
            width: 790px;
            background-color: transparent;
            min-height: 70px;
            top: 15px;
            left: 210px;
            border-color: #000000;
        }
        
        .silex-id-1491511288894-6 {
            width: 113px;
            min-height: 42px;
            top: 15px;
            left: 34px;
            border-color: #000000;
        }
        
        .silex-id-1491511582447-7 {
            width: 113px;
            min-height: 42px;
            top: 15px;
            left: 158px;
        }
        
        .silex-id-1491511629302-8 {
            width: 113px;
            min-height: 42px;
            top: 15px;
            left: 281px;
        }
        
        .silex-id-1491511629304-9 {
            width: 113px;
            min-height: 42px;
            top: 15px;
            left: 404px;
            border-color: #000000;
        }
        
        .silex-id-1491512744410-15 {
            width: 141px;
            min-height: 35px;
            top: 14px;
            left: 647px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-color: #a2ac87;
        }
        
        .silex-id-1491510465972-1 {
            background-color: rgba(48, 147, 178, 1);
            top: 140px;
            left: 5px;
            min-width: 1000px;
            border-color: #000000;
            background-image: url('../assets/unsplash1.jpg');
            background-size: cover;
            background-position: bottom center;
            background-attachment: scroll;
            background-repeat: repeat-x;
        }
        
        .silex-id-1491510465971-0 {
            width: 1000px;
            background-color: transparent;
            min-height: 511px;
            top: 15px;
            left: 627px;
            background-size: auto;
            background-position: center center;
            background-attachment: scroll;
            background-repeat: no-repeat;
        }
        
        .silex-id-1491939403933-3 {
            width: 1000px;
            background-color: rgba(48, 147, 178, 0.2980392156862745);
            min-height: 253px;
            top: 118px;
            left: 0px;
        }
        
        .silex-id-1491513485462-16 {
            width: 651px;
            min-height: 134px;
            top: 24px;
            left: 192px;
            background-color: transparent;
        }
        
        .silex-id-1491514047727-17 {
            width: 37px;
            top: 206px;
            left: 5px;
            min-height: 140px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491514047727-17 {
                top: 4580px;
                left: 178px;
                width: 109px;
                min-height: 68px;
            }
        }
        
        .silex-id-1491514255098-19 {
            background-color: rgb(255, 255, 255);
            min-width: 1000px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491514255098-19 {
                top: 795px;
                left: 0px;
            }
        }
        
        .silex-id-1491514255097-18 {
            width: 1000px;
            min-height: 674px;
            top: 15px;
            left: 250px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491514255097-18 {
                min-height: 1073px;
            }
        }
        
        .silex-id-1491516513564-43 {
            width: 298px;
            background-color: rgb(255, 255, 255);
            min-height: 263px;
            top: 291px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491516513564-43 {
                top: 20px;
                left: 79px;
                width: 298px;
                min-height: 173px;
            }
        }
        
        .silex-id-1491514707200-21 {
            width: 238px;
            min-height: 233px;
            top: 10px;
            left: 0px;
            border-radius: 300px 300px 300px 300px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491514707200-21 {
                top: 54px;
                left: 69px;
                width: 161px;
                min-height: 156px;
            }
        }
        
        .silex-id-1491516338811-42 {
            width: 356px;
            background-color: transparent;
            min-height: 270px;
            top: 7px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491516338811-42 {
                top: 184px;
                left: 11px;
                width: 433px;
                min-height: 191px;
            }
        }
        
        .silex-id-1491514313632-20 {
            width: 336px;
            min-height: 245px;
            top: 15px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491514313632-20 {
                top: 36px;
                left: 11px;
                width: 410px;
                min-height: 191px;
            }
        }
        
        .silex-id-1491516586068-44 {
            width: 624px;
            background-color: rgb(255, 255, 255);
            min-height: 593px;
            top: 29px;
            left: 377px;
        }
        
        .silex-id-1491514817330-22 {
            width: 596px;
            min-height: 555px;
            top: 14px;
            left: 27px;
        }
        
        .silex-id-1491515247117-24 {
            background-color: rgba(48, 147, 178, 1);
            min-width: 1000px;
            background-image: url('../assets/unsplash2.jpg');
            background-attachment: scroll;
            background-size: contain;
            background-position: center center;
            background-repeat: repeat;
            top: 1549px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515247117-24 {
                top: 2121px;
                left: 0px;
            }
        }
        
        .silex-id-1491515247116-23 {
            width: 1000px;
            background-color: transparent;
            min-height: 620px;
            top: 15px;
            left: 250px;
            background-attachment: fixed;
            background-size: cover;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515247116-23 {
                min-height: 20px;
            }
        }
        
        .silex-id-1491515325968-26 {
            background-color: rgb(255, 255, 255);
            min-width: 1000px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515325968-26 {
                top: 1868px;
                left: 0px;
            }
        }
        
        .silex-id-1491515325967-25 {
            width: 1000px;
            min-height: 652px;
            top: 15px;
            left: 250px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515325967-25 {
                min-height: 1189px;
            }
        }
        
        .silex-id-1491515513624-31 {
            width: 22px;
            background-color: rgb(255, 255, 255);
            min-height: 280px;
            top: 0px;
            left: 500px;
            border-width: 0 0 0 1px;
            border-style: solid;
        }
        
        .silex-id-1491515549485-32 {
            width: 22px;
            background-color: rgb(255, 255, 255);
            min-height: 280px;
            top: 372px;
            left: 500px;
            border-width: 0 0 0 1px;
            border-style: solid;
        }
        
        .silex-id-1491515570342-33 {
            width: 442px;
            background-color: rgb(255, 255, 255);
            min-height: 20px;
            top: 320px;
            left: 0px;
            border-width: 1px 0 0 0;
            border-style: solid;
        }
        
        .silex-id-1491515596629-34 {
            width: 442px;
            background-color: rgb(255, 255, 255);
            min-height: 20px;
            top: 319px;
            left: 558px;
            border-width: 1px 0 0 0;
            border-style: solid;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515596629-34 {
                top: 13px;
                left: 11px;
                width: 419px;
                min-height: 20px;
            }
        }
        
        .silex-id-1491516663908-45 {
            width: 459px;
            background-color: rgb(255, 255, 255);
            min-height: 261px;
            top: 24px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491516663908-45 {
                top: 50px;
                left: 11px;
                width: 419px;
                min-height: 290px;
            }
        }
        
        .silex-id-1491515344876-27 {
            width: 453px;
            min-height: 225px;
            top: 15px;
            left: 0px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515344876-27 {
                top: 14px;
                left: 10px;
                width: 398px;
                min-height: 262px;
            }
        }
        
        .silex-id-1491516734473-46 {
            width: 457px;
            background-color: rgb(255, 255, 255);
            min-height: 277px;
            top: 341px;
            left: 0px;
        }
        
        .silex-id-1491515363980-28 {
            width: 453px;
            min-height: 213px;
            top: 48px;
            left: 0px;
        }
        
        .silex-id-1491516774225-47 {
            width: 451px;
            background-color: rgb(255, 255, 255);
            min-height: 274px;
            top: 9px;
            left: 549px;
        }
        
        .silex-id-1491515366556-29 {
            width: 453px;
            min-height: 225px;
            top: 31px;
            left: -3px;
        }
        
        .silex-id-1491516807859-48 {
            width: 466px;
            background-color: rgb(255, 255, 255);
            min-height: 264px;
            top: 353px;
            left: 534px;
        }
        
        .silex-id-1491515375587-30 {
            width: 453px;
            min-height: 213px;
            top: 36px;
            left: 13px;
        }
        
        .silex-id-1491515759410-36 {
            background-color: rgba(162, 172, 135, 1);
            min-width: 1000px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515759410-36 {
                top: 3057px;
                left: 0px;
            }
        }
        
        .silex-id-1491515759409-35 {
            width: 1000px;
            min-height: 513px;
            top: 15px;
            left: 250px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515759409-35 {
                min-height: 758px;
            }
        }
        
        .silex-id-1491515891360-38 {
            width: 489px;
            min-height: 236px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1491515806933-37 {
            width: 500px;
            height: 449px;
            background-color: transparent;
            top: 44px;
            left: 500px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491515806933-37 {
                top: 18px;
                left: 25px;
                width: 405px;
                height: 449px;
            }
        }
        
        .silex-id-1491516086960-40 {
            background-color: rgba(253, 246, 235, 1);
            min-width: 1000px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491516086960-40 {
                top: 3815px;
                left: 0px;
            }
        }
        
        .silex-id-1491516086959-39 {
            width: 1000px;
            min-height: 572px;
            top: 15px;
            left: 627px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491516086959-39 {
                min-height: 407px;
            }
        }
        
        .silex-id-1491938775185-1 {
            width: 955px;
            background-color: transparent;
            min-height: 533px;
            top: 0px;
            left: 16px;
        }
        
        .silex-id-1491516112703-41 {
            height: 498px;
            width: 893px;
            background-color: transparent;
            top: 0px;
            left: 33px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1491516112703-41 {
                top: 89px;
                left: 11px;
                width: 433px;
                height: 372px;
            }
        }
        
        .silex-id-1491517444229-50 {
            background-color: rgb(255, 255, 255);
            min-width: 1000px;
        }
        
        .silex-id-1491517444228-49 {
            width: 1000px;
            min-height: 1138px;
            top: 15px;
            left: 250px;
        }
        
        .silex-id-1491517451740-51 {
            width: 587px;
            min-height: 100px;
            top: 100px;
            left: 209px;
        }
        
        .silex-id-1491511864480-12 {
            background-color: rgba(253, 246, 235, 1);
            min-width: 1000px;
            top: 3892px;
            left: 5px;
        }
        
        .silex-id-1491511864479-11 {
            width: 1000px;
            min-height: 414px;
            top: 15px;
            left: 627px;
        }
        
        .silex-id-1491511866976-13 {
            width: 409px;
            min-height: 56px;
            top: 292px;
            left: 303px;
        }
    