
        @import url('//fonts.googleapis.com/css?family=Oswald:200,300');
        
        /* define a style for Title, Headings and Normal texts */
        .title,
        .heading1,
        .heading2,
        .heading3,
        .normal {
          color: black;
          font-family:'Oswald',sans-serif;
          margin: 0;
          font-weight: normal;
        }
        /* force element height to be smaller than sections can be in silex */
        .editable-style.small-height {
            min-height: 10px;
            height: 10px;
            max-height: 10px;
        }
        /* title style */
        .title {
          font-size: 60px;
          color: rgb(73, 187, 204);
        }
        .heading1 {
          font-size: 24px;
        }
        .editable-style.right {
            left: initial;
            right: 0px;
        }
        .grey-text .normal{
            color: grey;
        }
        .small-text .normal{
            color: grey;
            font-size: 10px;
        }
        .product-details .heading1 {
          color: rgb(73, 187, 204);
        }
        .product-details .heading3 {
          color: white;
          background-color: rgb(73, 187, 204);
          float: right;
          padding: 2px 25px;
        }
        .in-front {
            z-index: 1000;
        }
        .link-menu .normal{
            padding-top: 5px;
            color: #000000;
        }
        /* animated colors widget
            https://github.com/silexlabs/Silex/issues/138
        */
        .link-menu .page-link-active {
            background-color: rgb(73, 187, 204);
            transition: background-color 0.5s ease-in;
        
        }
        .link-menu .page-link-active .normal {
            color: #FFFFFF;
            transition: color 0.5s ease-in;
        }
    
        .silex-id-1436036524732-32 {
            cursor: auto; 
            background-image: url('../assets/bg-tile3.png'); 
            background-color: rgb(255, 255, 255); 
        }
        .silex-id-1483130857943-13 {
            top: 100px; 
            left: NaNpx; 
            background-color: rgba(180,229,232,1); 
        }
        .silex-id-1483130857943-12 {
            min-height: 20px; 
            background-color: transparent; 
        }
        .silex-id-1483130355289-7 {
            top: 10px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483130355289-7 {
            top: 70px; 
            left: 0px; 
        }
        }.silex-id-1483130355289-6 {
            min-height: 331px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483130355289-6 {
            min-height: 218px; 
        }
        }.silex-id-1436036524531-30 {
            width: 408px; 
            top: 106px; 
            left: 90px; 
            background-color: transparent; 
            min-height: 141px; 
        }
        .silex-id-1436036524431-29 {
            width: 117px; 
            top: 3px; 
            left: 2px; 
            min-height: 117px; 
        }
        .silex-id-1436036524330-28 {
            width: 283px; 
            top: 21px; 
            left: 120px; 
            min-height: 100px; 
        }
        .silex-id-1436036522119-6 {
            width: 383px; 
            top: 108px; 
            left: 536px; 
            background-color: transparent; 
            min-height: 100px; 
        }
        .silex-id-1436036522018-5 {
            width: 90px; 
            top: 20px; 
            left: 142px; 
            min-height: 33px; 
        }
        .silex-id-1436036521917-4 {
            width: 90px; 
            top: 20px; 
            left: 238px; 
            min-height: 33px; 
        }
        .silex-id-1483131519736-31 {
            top: 708px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483131519736-31 {
            top: 401px; 
            left: 0px; 
        }
        }.silex-id-1483131519736-30 {
            min-height: 329px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483131519736-30 {
            min-height: 415px; 
        }
        }.silex-id-1436036524230-27 {
            width: 822px; 
            top: 44px; 
            left: 100px; 
            min-height: 231px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1436036524230-27 {
            top: 137px; 
            left: 11px; 
            width: 421px; 
            min-height: 372px; 
        }
        }.silex-id-1483130397853-8 {
            top: 1220px; 
            left: 0px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483130397853-8 {
            top: 730px; 
            left: 0px; 
        }
        }.silex-id-1483130397854-9 {
            min-height: 525px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483130397854-9 {
            min-height: 767px; 
        }
        }.silex-id-1436036523928-24 {
            width: 978px; 
            top: 22px; 
            left: 1px; 
            min-height: 26px; 
        }
        .silex-id-1436036524028-25 {
            width: 368px; 
            top: 134px; 
            left: 46px; 
            min-height: 256px; 
        }
        .silex-id-1436036523626-21 {
            width: 415px; 
            top: 129px; 
            left: 513px; 
            min-height: 302px; 
        }
        .silex-id-1483131239726-14 {
            top: 572px; 
            left: NaNpx; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483131239726-14 {
            top: 1470px; 
            left: 0px; 
        }
        }.silex-id-1483131239727-15 {
            min-height: 525px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483131239727-15 {
            min-height: 735px; 
        }
        }.silex-id-1483131239727-17 {
            width: 978px; 
            top: 22px; 
            left: 1px; 
            min-height: 26px; 
        }
        .silex-id-1483131239727-16 {
            width: 368px; 
            top: 134px; 
            left: 46px; 
            min-height: 256px; 
        }
        .silex-id-1483131239727-18 {
            width: 415px; 
            top: 129px; 
            left: 513px; 
            min-height: 302px; 
        }
        .silex-id-1483131242514-19 {
            top: 572px; 
            left: NaNpx; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483131242514-19 {
            top: 2205px; 
            left: 0px; 
        }
        }.silex-id-1483131242514-20 {
            min-height: 525px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483131242514-20 {
            min-height: 718px; 
        }
        }.silex-id-1483131242515-22 {
            width: 978px; 
            top: 22px; 
            left: 1px; 
            min-height: 26px; 
        }
        .silex-id-1483131242515-21 {
            width: 368px; 
            top: 134px; 
            left: 46px; 
            min-height: 256px; 
        }
        .silex-id-1483131242515-23 {
            width: 415px; 
            top: 129px; 
            left: 513px; 
            min-height: 302px; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483131242515-23 {
            top: 384px; 
            left: 15px; 
            width: 415px; 
            min-height: 314px; 
        }
        }.silex-id-1447077029886-3 {
            width: 108px; 
            top: 0px; 
            left: 1559px; 
            min-height: 113px; 
        }
        .silex-id-1483131410736-25 {
            top: 259px; 
            left: NaNpx; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483131410736-25 {
            top: 401px; 
            left: 0px; 
        }
        }.silex-id-1483131410737-26 {
            min-height: 525px; 
            background-color: transparent; 
        }
        @media only screen and (max-width: 480px), only screen and (max-device-width: 480px){.silex-id-1483131410737-26 {
            top: 0px; 
            left: 12px; 
            width: 445px; 
            min-height: 791px; 
        }
        }.silex-id-1436036521716-2 {
            width: 389px; 
            top: 59px; 
            left: 539px; 
            min-height: 325px; 
        }
        .silex-id-1436036521615-1 {
            width: 400px; 
            top: 51px; 
            left: 111px; 
            background-color: transparent; 
            min-height: 396px; 
        }
        .silex-id-1483130400381-10 {
            top: 2236px; 
            left: 0px; 
        }
        .silex-id-1483130400382-11 {
            min-height: 82px; 
            background-color: transparent; 
        }
        .silex-id-1436036522220-7 {
            width: 238px; 
            top: 17px; 
            min-height: 40px; 
            left: 367px; 
        }
    