
        /*
        	Here are the CSS styles of your website.
        
        	Bellow are some examples, like the styles which you can apply to your text in the text editor.
        
        	See this page for help on CSS
        	https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started
        
        	In the advanced "Apollo" mode, you will be able to add CSS classes to Silex elements,
        	and then apply a CSS style to it here.
        */
        
        /* define a style for Title, Headings and Normal texts */
        .title,
        .heading1,
        .heading2,
        .heading3,
        .normal {
          font-family: verdana, arial;
        }
        
        /* title style */
        .title {
        }
        .rotated{
            -webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);
        }
        .top-z{
            z-index: 999;
        }
        .editable-style.full-width{
            width:100%;
        }
        .product-details .heading1{
            font-size: 24px;
            text-transform: capitalize;
            color: #ed5a3b;
            margin: 0;
        }
        .product-details .normal{
            color: #666666;
        }
    
        .silex-id-1439573540471-28 {
            cursor: auto; 
            background-color: rgb(163, 163, 163); 
        }
        .silex-id-1439573540368-27 {
            top: 5px; 
            left: 5px; 
            width: 800px; 
            background-color: rgb(255, 255, 255); 
            min-height: 1242px; 
        }
        .silex-id-1439573540265-26 {
            width: 100px; 
            top: 0px; 
            left: 0px; 
            background-color: rgb(102, 102, 102); 
            min-height: 90px; 
        }
        .silex-id-1439573540164-25 {
            width: 20px; 
            top: 79px; 
            left: 385px; 
            background-color: rgb(102, 102, 102); 
            min-height: 20px; 
        }
        .silex-id-1439573539993-24 {
            width: 28px; 
            top: 30px; 
            left: 25px; 
            min-height: 28px; 
        }
        .silex-id-1439573539891-23 {
            width: 172px; 
            top: 28px; 
            left: 60px; 
            background-color: transparent; 
            min-height: 44px; 
        }
        .silex-id-1439573539452-22 {
            width: 218px; 
            top: 10px; 
            left: 555px; 
            background-color: transparent; 
            min-height: 74px; 
        }
        .silex-id-1439573538455-21 {
            width: 100px; 
            top: 90px; 
            left: 0px; 
            background-color: rgb(237, 90, 59); 
            min-height: 500px; 
        }
        .silex-id-1439573537452-20 {
            width: 20px; 
            top: 487px; 
            left: 385px; 
            background-color: rgb(237, 90, 59); 
            min-height: 20px; 
        }
        .silex-id-1439573536451-19 {
            width: 464px; 
            top: 50px; 
            left: 25px; 
            background-color: transparent; 
            min-height: 279px; 
        }
        .silex-id-1439573535453-18 {
            width: 357px; 
            top: 334px; 
            left: 226px; 
            border-top-width: 2px; 
            border-right-width: 2px; 
            border-bottom-width: 2px; 
            border-left-width: 2px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            border-image-source: initial; 
            border-image-slice: initial; 
            border-image-width: initial; 
            border-image-outset: initial; 
            border-image-repeat: initial; 
            border-top-left-radius: 5px; 
            border-top-right-radius: 5px; 
            border-bottom-right-radius: 5px; 
            border-bottom-left-radius: 5px; 
            background-color: transparent; 
            min-height: 98px; 
        }
        .silex-id-1439573534459-17 {
            width: 95px; 
            top: 1px; 
            left: 28px; 
            background-color: transparent; 
            min-height: 93px; 
        }
        .silex-id-1439573533566-16 {
            width: 183px; 
            top: 7px; 
            left: 142px; 
            border-top-width: 0px; 
            border-right-width: 0px; 
            border-bottom-width: 0px; 
            border-left-width: 1px; 
            border-top-style: solid; 
            border-right-style: solid; 
            border-bottom-style: solid; 
            border-left-style: solid; 
            border-top-color: rgb(255, 255, 255); 
            border-right-color: rgb(255, 255, 255); 
            border-bottom-color: rgb(255, 255, 255); 
            border-left-color: rgb(255, 255, 255); 
            background-color: transparent; 
            line-height: 19px; 
            min-height: 87px; 
        }
        .silex-id-1439573276986-15 {
            width: 371px; 
            top: 76px; 
            left: 428px; 
            min-height: 224px; 
        }
        .silex-id-1439573276011-14 {
            width: 100px; 
            top: 847px; 
            left: 25px; 
            min-height: 100px; 
        }
        .silex-id-1439573274988-13 {
            width: 100px; 
            top: 650px; 
            left: 420px; 
            min-height: 101px; 
        }
        .silex-id-1439573273989-12 {
            width: 100px; 
            top: 844px; 
            left: 420px; 
            min-height: 100px; 
        }
        .silex-id-1439573272985-11 {
            width: 100px; 
            top: 650px; 
            left: 25px; 
            min-height: 100px; 
        }
        .silex-id-1439573271990-10 {
            width: 236px; 
            top: 645px; 
            left: 147px; 
            background-color: transparent; 
            min-height: 132px; 
        }
        .silex-id-1439573270988-9 {
            width: 236px; 
            top: 645px; 
            left: 544px; 
            background-color: transparent; 
            min-height: 132px; 
        }
        .silex-id-1439573269990-8 {
            width: 236px; 
            top: 842px; 
            left: 146px; 
            background-color: transparent; 
            min-height: 132px; 
        }
        .silex-id-1439573268988-7 {
            width: 236px; 
            top: 842px; 
            left: 543px; 
            background-color: transparent; 
            min-height: 132px; 
        }
        .silex-id-1439573267988-6 {
            width: 20px; 
            top: 990px; 
            left: 385px; 
            background-color: rgb(255, 255, 255); 
            min-height: 20px; 
        }
        .silex-id-1439573266985-5 {
            width: 801px; 
            top: 1000px; 
            left: 0px; 
            background-color: rgb(53, 73, 94); 
            min-height: 250px; 
        }
        .silex-id-1439573265982-4 {
            width: 367px; 
            top: 25px; 
            left: 25px; 
            background-color: transparent; 
            min-height: 210px; 
        }
        .silex-id-1439573264982-3 {
            width: 367px; 
            top: 25px; 
            left: 413px; 
            background-color: transparent; 
            min-height: 100px; 
        }
        .silex-id-1439573263985-2 {
            width: 42px; 
            top: 141px; 
            left: 736px; 
            min-height: 38px; 
        }
        .silex-id-1439573262983-1 {
            width: 18px; 
            top: 139px; 
            left: 687px; 
            min-height: 38px; 
        }
        .silex-id-1439573261942-0 {
            width: 27px; 
            top: 140px; 
            left: 632px; 
            min-height: 38px; 
        }
    